//List fixes
.neve-main .elementor-text-editor {
  ul, ol {
    padding-left: $spacing-sm;
  }

  ul {
    list-style: inherit;
  }
}
// Remove links underline
.nv-content-wrap .elementor a:not(.button):not(.wp-block-file__button) {
  text-decoration: none;
}
