//List fixes
.neve-main .elementor-text-editor {
  ul, ol {
    padding-left: $spacing-sm;
  }

  ul {
    list-style: inherit;
  }
}
// Fix scroll snap
body.elementor-page{
	.wrapper{
	  overflow: visible;
	}
}