//List fixes
.neve-main .elementor-text-editor {
  ul, ol {
    padding-left: $spacing-sm;
  }

  ul {
    list-style: inherit;
  }
}

body.elementor-page{
	select {
	  background-image: none;
	}

	.wrapper{
	  overflow: visible;
	}
}
