@media (min-width: #{$tablet}) {
}

@media (min-width: #{$laptop}) {
  @include general--laptop();
  @include header--laptop();
  @include sidebar--laptop();
  @include notifications--laptop();
  @include start--laptop();
  @include card--laptop();
  @include license-card--laptop();
  @include free-pro--laptop();
  @include mock--laptop();
}


@media (min-width: #{$desktop}) {
  @include general--desktop();
  @include header--desktop();
  @include start--desktop();
  @include card--desktop();
  @include notifications--desktop();
  @include plugins--desktop();
  @include help--desktop();
  @include accordion--desktop();
  @include mock--desktop();
}


@media (min-width: #{$desktop-large}) {
  @include general--desktop-large();
  @include card--desktop-large();
}
