$blue: #0073AA !default;
$light-blue: #6BC2DD!default;
$dark-blue: #31446C!default;
$black: #282828 !default;
$grey: #e1e1e1 !default;
$dark-grey: #646D82!default;
$purple: #4268CF!default;

$info: #6BC2DD !default;
$error: #EC7C7C !default;
$warning: #ffb900 !default;
$success: #6EB77A !default;

$tablet: '660px';
$laptop: '992px';
$desktop: '1200px';
$desktop-large: '1400px';
