body{
	background: #fff;
}
.ti-onboarding-header{
	display: flex;
	justify-content: space-between;
	padding: 12px 40px;
	border-bottom: 1px solid #e5e5e5;
	align-items: center;
	div, a {
		display: flex;
	}
}


h1 {
	font-size: 40px;
	line-height: 54px;
}

p {
	font-size: 18px;
	line-height: 30.6px;
	color: #848484;
	font-weight: 300;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: calc(100vh - 65px); /* Subtract the header height (adjust if needed) */
	padding: 0 50px;
	&.narrow {
		max-width: 559px;
		margin: 0 auto;
	}
}

.tab{
	border: none;
	border-radius: 999px;
	padding: 8px 24px;
	font-size: 20px;
	font-weight: 700;
	margin-right: 32px;
	margin-top: 16px;
	background: #F4F4F4;
	cursor: pointer;
	transition: 0.3s;
	&.active, &:hover {
		background: #151414;
		color: #fff;
	}
}

.search-container {
	margin-top: 80px;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
}

input.search-input {
	background-color: #f4f4f4;
	border: none;
	border-radius: 999px;
	padding: 10px 16px 10px 46px;
	width: 100%;
	max-width: 275px;
	line-height: 26px;
}

.search-button {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	left: 12px;
	top:12px;
	line-height: 0;
}
