@import "vars";

.item-placeholder {
  position: relative;
  transition: .3s ease;
}

.empty.over .item-placeholder {
  background-color: rebeccapurple;
}

.over:not(.empty) .item-placeholder {
  width: 0;
}

.builder-item {
  box-sizing: border-box;
  margin: 0 2px;
  transition: .3s ease;

  .builder-item-inner {
	background: #F4F4F4;
	height: 38px;
	border: $wp-grey-border;
	border-radius: 3px;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	padding: 0 0 0 10px;

	span {
	  white-space: nowrap;
	}

	&.dragging {
	  padding: 0;
	}
  }

  .actions {
	display: flex;
	margin-left: auto;
	height: 100%;
  }

  button {
	background: 0;
	height: 100%;
	width: auto;
	border: none;
	min-width: unset;
	width: 25px;
	padding: 0 !important;
  }
}

.row-sidebar .builder-item {
  margin: 0 0 5px !important;
}
