.hfg-instructions-section {
  display: list-item !important;
  padding: 0 15px;
  video {
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }

  .quick-links {
	font-size: 14px;
	font-weight: 500;

	a {
	  text-decoration: none;
	}
  }

  .quick-links-wrap {
	margin: 10px 0;
	display: block;
	background: #fff;
	border-radius: 3px;
	padding: 10px 20px;

	span {
	  margin-right: 10px;
	}
  }
}
