@import "vars";

.neve-builder {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 300px;
  padding: 20px;
  background-color: $wp-light-grey;
  @media screen and (min-width: 1667px) {
	margin-left: 18%;
  }
  @import 'rows';
  @import 'builder-item';
  @import "responsive-switches";
}


.collapsed .neve-builder {
  margin-left: 0;
}
