@import "vars";
.hfg-builder {

  //@import "columns-indicator";
  @import "rows";
  @import "row-slot";
  @import "builder-item";

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 330px;
  padding: 20px;
  background-color: $wp-light-grey;
}


.collapsed .hfg-builder {
  margin-left: 0;
}

@import "sidebar";
@import "interactions";
