@import "vars";

.droppable {
  display: flex;
  height: 100%;
  border-right: $droppable-border;
  flex-grow: 1;
  width: 100%;
  position: relative;

  &:last-child {
	border: 0;
  }

  &.over {
	background: rgba(102, 51, 153, 0.1);
  }

  &.center {
	width: auto;
	justify-content: center;
	padding: 0;
	transition: .3s ease;

	&.over {

	  padding: 0 30px;
	}
  }

  &.c-left, &.right {
	justify-content: flex-end;
  }
}
