@import "vars";

.rows-wrapper {
  display: flex;
}

.horizontal-rows {
  flex-grow: 1;

  .row:last-child {
	margin-bottom: 0;
  }
}

.row {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
}

.row-inner {
  width: 100%;
  border-radius: 0 3px 3px 0;
  height: 50px;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  border: $wp-grey-border;
  padding: 4px 2px;
}

.row-content {
  display: flex;
  height: 100%;
}

.row-settings {
  border-radius: 3px 0 0 3px;
  background: #fff;
  border: $wp-grey-border;
  border-right: none;
  display: flex;
  height: 50px;
  color: #555D66;
  padding: 0 3px !important;
  width: 25px;
  min-width: unset !important;
}

.row.row-sidebar {
  margin-right: 10px;
  height: 100%;

  .row-inner {
	padding: 4px;
  }

  .builder-item {
	//width: 100%;
  }

  .row-inner {
	width: 220px;
	height: 100%;

	.droppable {;
	  width: 100%;
	  overflow: auto;
	}
  }

  .row-settings {
	height: 100%;
  }

  .droppable.sidebar {
	flex-direction: column;
  }
}
