@import "../main/variables";

.nv-title-meta-wrap,
.nv-page-title {

	.neve-breadcrumbs-wrapper {
		margin-bottom: $spacing-lg;
		display: block;
	}
}

.neve-breadcrumbs-wrapper {
	font-size: 14px;

	a {
		color: $gray-color;
	}
}
