@import "../main/variables";

dl {
	margin: $spacing-md 0;

	dd {
		padding-left: $spacing-lg;
	}

	dt {
		font-weight: 600;
	}
}

.nv-iframe-embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

figcaption {
	font-size: $text-sm;
	opacity: 0.75;
}

code {
	background: #d0effb;
	border-radius: 5px;
	border: $muted-border;
	padding: 0 3px;
	color: #333;
}

pre {
	display: block;
	padding: $spacing-lg;
	background: var(--nv-light-bg);
	margin: $spacing-md 0;
	white-space: pre-wrap;
	font-size: $text-sm;
	font-family: Courier, monospace;

	code {
		border: 0;
		background: transparent;
	}
}

.nv-content-wrap,
.excerpt-wrap {
	--listpad: 20px;
	--liststyle: disc;

	ul,
	ol {
		margin: $spacing-lg 0;
	}

	li {
		margin-top: $spacing-xs;
	}
}

// === Content Floating Alignments === //
.alignleft {
	float: left;
	margin: $spacing-md $spacing-md $spacing-md 0;
}

.alignright {
	float: right;
	margin: $spacing-md 0 $spacing-md $spacing-md;
}

.aligncenter {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	text-align: center;
	font-size: 0.8em;
	font-weight: 500;
}

.twitter-tweet.twitter-tweet-rendered {
	padding: $spacing-sm 0;
	margin: auto;
}

hr {
	color: inherit;
	height: 0;
	border: 0;
	border-top: 2px solid;
	margin: $spacing-xs 0 $spacing-md;
	display: inline-block;
	width: 100%;
}

audio {
	display: flex;
	height: 50px;
}

@mixin content--laptop() {

	.neve-main > .container .col {
		max-width: 70%;
	}

	.neve-main > .container > .row {
		flex-wrap: nowrap;
	}
}
