.neve-mega-menu > .sub-menu {
	cursor: default;
	width: var(--container);
	max-width: 100%;
}

.neve-mega-menu {

	.sub-menu .sub-menu {
		max-height: none;
	}

	.neve-mm-col {
		cursor: default;
		flex: 1;

		.sub-menu {

			.sub-menu {
				left: 0;
				top: 100%;
			}
		}
	}

	li.neve-mm-divider {
		height: 1px;
		margin: $spacing-xs auto;
		width: 100%;
		background-color: currentColor;
	}

	.neve-mm-heading > span {
		cursor: default;
	}
}

.neve-mm-description {
	padding: 0 0 15px;
	text-transform: none;
	font-size: 0.8em;
	display: flex;
}

.neve-mm-heading > span,
.neve-mm-heading > a {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	display: flex;
	align-items: center;
}

.header-menu-sidebar-inner {

	.neve-mega-menu .neve-mm-col > .sub-menu {
		display: block;
	}
}

@mixin mega-menu--laptop() {

	.header--row .nv-nav-wrap .primary-menu-ul {

		.neve-mega-menu > .sub-menu {
			left: 50% !important;
			right: unset !important;
			transform: translateX(-50%);
			position: absolute;
			padding: 20px 10px;
			top: auto;
			display: none;

			&:not(.dropdown-open) {
				pointer-events: none;
			}
		}

		.neve-mega-menu:hover,
		.neve-mega-menu:focus,
		.neve-mega-menu:focus-within {

			> .sub-menu {
				display: flex;
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}

		.neve-mega-menu {
			position: unset;
		}

		.neve-mega-menu .neve-mm-col > .sub-menu {
			visibility: visible;
			position: relative;
			left: initial;
			right: initial;
			opacity: 1;
			box-shadow: none;
			display: flex;
			flex-direction: column;
			text-align: left;
			width: 100%;

			a {
				white-space: normal;
			}

			li:not(.neve-mm-divider) {
				border: 0;
			}
		}

		.neve-mega-menu .neve-mm-col {
			padding: 0 10px;
			align-items: flex-start;
			border: 0;
		}

		.neve-mm-heading > span {
			padding: 10px 20px;
		}

		.neve-mm-description {
			padding: 0 20px 10px;
		}

		.neve-mega-menu .neve-mm-col:not(:last-child) {
			border-right: 1px solid currentColor;
		}
	}
}

// Make sure the component is static if main row and has a nav
.header--row .builder-item.has-nav {
	position: static;
}
