.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

body > .wrapper:not(.et-fb-iframe-ancestor) {
	overflow: hidden;
}

.neve-main {
  flex: 1 auto;
}

.archive-container {
  padding-top: $spacing-sm;
}

@mixin page--laptop() {
  .archive-container {
	padding-top: 30px;
  }
}
