@import "../main/variables";

.nv-single-post-wrap, .nv-single-page-wrap, .nv-index-posts {
  margin-bottom: $spacing-aired;
}

.nv-sidebar-wrap {
  padding: 0 15px;
  margin-bottom: $spacing-md;
}

.widget {
  word-break: break-word;
  margin-bottom: $spacing-xl;

  select {
	max-width: 100%;
	width: 100%;
  }

  p.widget-title {
	margin-bottom: $spacing-xs;
	font-weight: 600;
	font-size: 1.25em;
  }

  &:last-child {
	border: none;
	margin: 0;
	padding: 0;
  }
}

.post-date {
  display: block;
  font-size: .9em;
  opacity: .7;
}

.widget_recent_entries a {
  color: var(--nv-text-color);
}

.widget ul {
  padding: 0;

  ul {
	padding-left: $spacing-xs;
	border-left: $muted-border;
  }

  li {
	margin-top: $spacing-xs / 2;
  }
}

.widget_media_image img {
  width: 100%;
}

@mixin sidebar--laptop() {
  .nv-sidebar-wrap {
	&.nv-right {
	  padding-left: 45px;
	}

	&.nv-left {
	  padding-right: 45px;
	}
  }
}
