{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "esmodules": true
        },
		"debug": true,
        "useBuiltIns": "usage",
        "corejs": 3,
        "exclude": [
          "es.string.split"
        ]
      }
    ]
  ]
}
