.idea
node_modules
logs
dist
artifact
vendor
visual-regression/*
**/*.js.map
**/*.css.map
**/.DS_Store
e2e-tests/cypress/videos/*
header-footer-grid/assets/css/style*
storybook-static
yarn-error.log
assets/js/build/*
assets/css/*
style-main*
style-main-new*
assets/apps/*/build/*
languages/neve.pot
/e2e-tests/cypress/screenshots/
logs.log
/test-results/
/playwright-report/
/playwright/.cache/

