language: php
dist: trusty
env:
  - WP_VERSION=latest UPSTREAM_REPO=Codeinwp/neve MASTER_BRANCH=master STORE_URL=https://store.themeisle.com
cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm
jobs:
  include:
    - stage: test
      php: 7.0
      name: "Different linters"
      before_install:
        - nvm install && nvm use
        - npm install npm -g
      script:
        - travis_retry npm install
        - travis_retry composer install
        - npm run-script test
    - php: 5.2
      name: "Unit tests for PHP 5.2"
      env: WP_VERSION=5.1.1
      dist: precise
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.3
      name: "Unit tests for PHP 5.3"
      env: WP_VERSION=5.1.1
      dist: precise
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.4
      name: "Unit tests for PHP 5.4"
      env: WP_VERSION=5.1.1
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.5
      name: "Unit tests for PHP 5.5"
      env: WP_VERSION=5.1.1
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.6
      name: "Unit tests for PHP 5.6"
      script:
        - ./bin/run-unit-tests.sh
    - php: 7.0
      name: "Unit tests for PHP 7.0"
      script:
        - ./bin/run-unit-tests.sh
    - php: 7.1
      name: "Unit tests for PHP 7.1"
      script:
        - ./bin/run-unit-tests.sh
    - stage: starter_sites_visual_regression
      php: 7.0
    - name: "Starter Sites Visual Regression - neve-main"
      script: "./bin/visual-regression.sh neve-main"
    - name: "Starter Sites Visual Regression - neve-main-gutenberg"
      script: "./bin/visual-regression.sh neve-main-gutenberg"
    - name: "Starter Sites Visual Regression - neve-restaurant"
      script: "./bin/visual-regression.sh neve-restaurant"
    - name: "Starter Sites Visual Regression - neve-charity"
      script: "./bin/visual-regression.sh neve-charity"
    - name: "Starter Sites Visual Regression - neve-vet-center"
      script: "./bin/visual-regression.sh neve-vet-center"
    - name: "Starter Sites Visual Regression - neve-doctors"
      script: "./bin/visual-regression.sh neve-doctors"
    - name: "Starter Sites Visual Regression - neve-energy-panels"
      script: "./bin/visual-regression.sh neve-energy-panels"
    - name: "Starter Sites Visual Regression - neve-lawyers"
      script: "./bin/visual-regression.sh neve-lawyers"
    - name: "Starter Sites Visual Regression - neve-freelancer"
      script: "./bin/visual-regression.sh neve-freelancer"
    - name: "Starter Sites Visual Regression - neve-shop"
      script: "./bin/visual-regression.sh neve-shop"
    - name: "Starter Sites Visual Regression - neve-zelle"
      script: "./bin/visual-regression.sh neve-zelle"
    - stage: deploy
      name: "Deployment"
      php: 7.0
      before_install:
        - nvm install && nvm use
        - npm install npm -g
      script:
        - travis_retry npm install
        - travis_retry composer install --no-dev --no-interaction --ignore-platform-reqs
      before_deploy:
        - ". ./bin/prepare-deploy.sh"
      deploy:
        - provider: script
          script: ./bin/deploy.sh
          skip_cleanup: true
          on:
            all_branches: true
        - provider: s3
          access_key_id: "$AWS_ACCESS_KEY"
          secret_access_key: "$AWS_SECRET_KEY"
          bucket: "$AWS_BUCKET"
          skip_cleanup: true
          acl: public_read
          overwrite: true
          local-dir: artifact/
          upload-dir: "$AWS_PRODUCTS_FOLDER/$BUILD_NAME/latest"
          on:
            all_branches: true
        - provider: s3
          access_key_id: "$AWS_ACCESS_KEY"
          secret_access_key: "$AWS_SECRET_KEY"
          bucket: "$AWS_BUCKET"
          skip_cleanup: true
          acl: public_read
          overwrite: true
          local-dir: artifact/
          upload-dir: "$AWS_PRODUCTS_FOLDER/$BUILD_NAME/$BUILD_VERSION"
          on:
            all_branches: true

stages:
  - name: deploy
    if: branch = env(MASTER_BRANCH) and type != "pull_request" and repo = env(UPSTREAM_REPO)
  - name: starter_sites_visual_regression
    if: type = "pull_request"
  - name: test
    if: type = "pull_request"
