language: php
dist: trusty
env:
  - WP_VERSION=latest UPSTREAM_REPO=Codeinwp/neve MASTER_BRANCH=feat/build_stages
cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm
jobs:
  include:
    - stage: test
      php: 7.0
      name: "Different linters"
      before_install:
        - nvm install && nvm use
        - npm install npm -g
      script:
        - travis_retry npm install
        - travis_retry composer install
        - npm run-script test
    - php: 5.2
      name: "Unit tests for PHP 5.2"
      dist: precise
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.3
      name: "Unit tests for PHP 5.3"
      dist: precise
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.4
      name: "Unit tests for PHP 5.4"
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.5
      name: "Unit tests for PHP 5.5"
      script:
        - ./bin/run-unit-tests.sh
    - php: 5.6
      name: "Unit tests for PHP 5.6"
      script:
        - ./bin/run-unit-tests.sh
    - php: 7.0
      name: "Unit tests for PHP 7.0"
      script:
        - ./bin/run-unit-tests.sh
    - php: 7.1
      name: "Unit tests for PHP 7.1"
      script:
        - ./bin/run-unit-tests.sh
    - stage: deploy
      name: "Deployment"
      php: 7.0
      before_install:
        - nvm install && nvm use
        - npm install npm -g
      script:
        - travis_retry npm install
        - travis_retry composer install --no-dev --no-interaction --ignore-platform-reqs
      before_deploy:
        - ". ./bin/prepare-deploy.sh"
      deploy:
        - provider: script
          script: bin/deploy.sh
          on:
            all_branches: true
#        - provider: s3
#          access_key_id: "$AWS_ACCESS_KEY"
#          secret_access_key: "$AWS_SECRET_KEY"
#          bucket: "$AWS_BUCKET"
#          skip_cleanup: true
#          acl: public_read
#          overwrite: true
#          local-dir: artifact/
#          upload-dir: "$AWS_PRODUCTS_FOLDER/$BUILD_NAME/latest"
#        - provider: s3
#          access_key_id: "$AWS_ACCESS_KEY"
#          secret_access_key: "$AWS_SECRET_KEY"
#          bucket: "$AWS_BUCKET"
#          skip_cleanup: true
#          acl: public_read
#          overwrite: true
#          local-dir: artifact/
#          upload-dir: "$AWS_PRODUCTS_FOLDER/$BUILD_NAME/$BUILD_VERSION"
stages:
  - name: deploy
    if: branch = env(MASTER_BRANCH) and type != "pull_request" and repo = env(UPSTREAM_REPO)
  - name: test
    if: type = "pull_request"
