parameters:
    level: 5
    paths:
        - functions.php
        - globals
        - inc
        - header-footer-grid/Core
        - header-footer-grid/loader.php
        - header-footer-grid/Main.php
        - header-footer-grid/functions-migration.php
        - header-footer-grid/functions-template.php
    bootstrapFiles:
        - vendor/wptt/webfont-loader/wptt-webfont-loader.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - tests/php/static-analysis-stubs/header-footer-elementor.php
    dynamicConstantNames:
        - NEVE_DEBUG
    ignoreErrors:
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon