.control-wrap {
	width: 100%;
}

.has-media-queries .control-wrap {
	display: none;
	width: 100%;
}

.has-media-queries .control-wrap.active {
	display: block;
}


.hfg--cb-conditional-header {
	display: flex;
	margin: 9px 0 0;
	float: left;
}

.hfg--cb-conditional-header.hidden {
	display: none;
}

.hfg--cb-conditional-header p {
	margin: 0;
}

.hfg--cb-conditional-header .dashicons {
	margin-right: 5px;
}

.hfg--cb-conditional-header a {
	cursor: pointer;
}
