.customize-control-checkbox-toggle .checkbox-toggle-wrap {
    border: 1px solid #ccc;
    border-radius: 5px;
    -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            flex-direction: row;
    -ms-flex-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            align-items: center;
    -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 7px 0;
}
.customize-control-checkbox-toggle span {
    margin-left: 20px;
    font-weight: 600;
    width: 65%;
    display: inline-block;
}
.customize-control-checkbox-toggle input[type=checkbox] {
    display: none;
}

.customize-control-checkbox-toggle label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 100px;
    position: relative;
    margin-right: 20px;
    display: inline-block;
}

.customize-control-checkbox-toggle label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.customize-control-checkbox-toggle input:checked + label {
    background: #13aff0;
}

.customize-control-checkbox-toggle input:checked + label:after {
    left: -webkit-calc(100% - 5px);
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.customize-control-checkbox-toggle label:active:after {
    width: 30px;
}

.customize-control-checkbox-toggle > * {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            flex-direction: row;
}