//<editor-fold desc="Columns">
.wp-block-columns {
  .editor-block-list__layout {
    .wp-block {
      &.editor-block-list__block {
        padding: 0 !important;
      }
      &.editor-block-list__block:not(:first-of-type):not(:last-of-type) {
        margin-left: 32px !important;
        margin-right: 32px !important;
      }
      &.editor-block-list__block:first-of-type {
        margin-right: 32px !important;
      }
      &.editor-block-list__block:last-of-type {
        margin-left: 32px !important;
      }
      > * {
        max-width: 100% !important;
      }
    }
  }
}
//</editor-fold>