$wp-block-selector: '.neve-gtb-flow-wrap.container';

.gutenberg-editor-page #wpwrap .editor-styles-wrapper {
  .wp-block {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    .editor-block-list__layout {
      padding: 0 !important;
    }
    &[data-align=full], &[data-align=wide] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.neve-gtb-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  padding: 10px;
  max-width: 30%;
  flex-grow: 1;
  &.sidebar-hidden {
    display: none;
  }
}

.editor-styles-wrapper .neve-gtb-sidebar > p {
  font-size: 32px;
  font-weight: 600;
  color: #777;
}

//<editor-fold desc="Sidebar / Layout">
.gutenberg-editor-page #wpwrap .editor-styles-wrapper {
  .neve-gtb-flow-wrap {
    display: flex;
    margin: 0 auto;
    .editor-writing-flow {
      max-width: 70%;
      flex-grow: 1;
      margin: 0 auto;
    }
    &.has-sidebar-left {
      .editor-post-title,
      .editor-block-list__layout {
        padding: 0 0 0 25px;
      }
    }
    &.has-sidebar-right {
      .editor-post-title,
      .editor-block-list__layout {
        padding: 0 25px 0 0;
      }
    }
  }
}

//</editor-fold>
@mixin content-width--tablet-sm() {
  #{$wp-block-selector} {
    max-width: 540px;
  }
}

@mixin content-width--tablet() {
  #{$wp-block-selector} {
    max-width: 720px;
  }
}

@mixin content-width--laptop() {
  #{$wp-block-selector} {
    max-width: 960px;
  }
}

@mixin content-width--desktop() {
  #{$wp-block-selector} {
    max-width: 1140px;
  }
}

.gutenberg-editor-page #wpwrap .editor-styles-wrapper .neve-gtb-flow-wrap.container-fluid.has-sidebar-full-width .editor-writing-flow {
  max-width: 100%;
}