.edit-post-layout__content {
  .editor-styles-wrapper {
    margin: 0 auto;
    width: 100%;

    .editor-post-title {
      .wp-block {
        max-width: 100%;
      }
    }

    .wp-block {
      max-width: 100%;
    }
  }
}

.block-editor-block-preview__container .wp-block {
  text-align: center;
}
