version: '3.2'
services:
  cypress:
    ipc: host
    image: "cypress/included:3.6.1"
    environment:
      - COMMIT_INFO_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}
      - COMMIT_INFO_SHA=${TRAVIS_COMMIT}
      - COMMIT_INFO_MESSAGE=${BUILD_INFO_MESSAGE}
      - CYPRESS_RECORD_KEY=${CYPRESS_RECORD_KEY}
    working_dir: /e2e
    volumes:
      - ./:/e2e/cypress
      - ../cypress.json:/e2e/cypress.json
    network_mode: "host"
    command: --record --spec "$BUILD_SPEC" --browser=chrome
