form input[type="text"], form input[type="password"], form input[type="email"], form input[type="url"], form input[type="date"], form input[type="month"], form input[type="time"], form input[type="datetime"], form input[type="datetime-local"], form input[type="week"], form input[type="number"], form input[type="search"], form input[type="tel"], form input[type="color"], form select, form textarea {
  display: inline-block;
  min-height: 35px;
  font-size: 14px;
  line-height: 1.8;
  padding: 6px 12px;
  background-color: transparent;
  color: #333;
  border: 1px solid #dddddd;
  border-radius: 3px;
  transition: all 0.3s ease;
}

input, textarea, select, button {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}
