form {
  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"], select, textarea {
    display: inline-block;
    font-size: 14px;
    padding: 7px 12px;
    background-color: transparent;
    color: #333;
    border: 1px solid #dddddd;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
}

input[type="text"], input[type="search"], input[type="password"], input[type="submit"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input, textarea, select, button {
  line-height: inherit;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: $spacing-xs;
}

fieldset {
  border: 0;
  margin: $spacing-sm 0;
  legend {
    font-size: .9em;
    margin-bottom: $spacing-xs;
  }
  input[type="text"], input[type="search"], input[type="password"], textarea {
    width: 100%;
  }
}