.site-footer {
	position: relative;
	z-index: 11;

	.item--inner {
		width: 100%;

		&.has_menu {
			display: flex;
		}
	}

	p {

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.footer--row {

	.hfg-slot {
		display: flex;
		flex-direction: column;
	}

	.row {
		display: grid;
		align-items: var(--valign);
	}

	.builder-item {
		width: 100%;
	}
}

@media (max-width: 960px) {

	footer .footer--row-inner .row {
		grid-template-columns: 1fr;
	}
}
