.site-header {
	position: relative;

	.header--row-inner {
		align-items: center;
		display: flex;
	}
}

#header-grid {

	&.global-styled:not(.neve-transparent-header):not(.has-sticky-rows--mobile):not(.has-sticky-rows--desktop) {
		position: relative;
	}

	&.global-styled:not(.neve-transparent-header) {

		background: var(--bgcolor);
		background-image: var(--bgimage, var(--bgcolor, none));
		background-position: var(--bgposition, center);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: var(--bgattachment);

		&::before {
			display: block;
			width: 100%;
			top: 0;
			bottom: 0;
			position: absolute;
			content: "";
			background-color: var(--overlaycolor);
			opacity: var(--bgoverlayopacity);
		}

		.header--row,
		.header--row-inner {
			background: none;
		}
	}
}

.builder-item {
	margin: 4px 0;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;

	&.hfg-end {
		margin-left: auto;
	}

	&.hfg-start {
		margin-right: auto;
	}
}

$desktop: map-get($gl-devices-list, desktop);

@media #{$desktop} {

	.builder-item {
		margin: 8px 0;
	}
}

//<editor-fold desc="Row Layout">
.hfg-slot {
	display: flex;
	align-items: center;

	&.right {
		justify-content: flex-end;
	}

	&.center {
		justify-content: center;
	}
}


.layout-fullwidth {

	.container {
		max-width: 100% !important;
	}
}

.layout-contained {
	max-width: $container_width;
	margin: 0 auto;
}

[class*="row-inner"],
.header-menu-sidebar-bg {
	position: relative;
	background-image: var(--bgimage, none);
	background-position: var(--bgposition, center);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: var(--bgattachment);

	&::before {
		display: block;
		width: 100%;
		top: 0;
		bottom: 0;
		position: absolute;
		content: "";
		background-color: var(--overlaycolor);
		opacity: var(--bgoverlayopacity);
	}
}

[class*="row-inner"]:not(.footer--row-inner) {
	border-bottom: var(--rowbwidth, 0) solid var(--rowbcolor);
}

.footer--row-inner {
	border-top: var(--rowbwidth, 0) solid var(--rowbcolor);
}

[data-row-id] {
	color: var(--color);
	background: var(--bgcolor);

	a {
		color: var(--color);
	}

	.row {
		display: grid;
		grid-template-columns: auto auto;
		min-height: var(--height, auto);
	}
}

.has-center .row--wrapper {
	grid-template-columns: 1fr auto 1fr;
}

.hfg_header.site-header {
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}
