$gray: #bfbfbf;

.nv-repeater-container {
  display: grid;
  row-gap: 15px;
  background-color: transparent;

  .nv-repeater-item-header {
	display: flex;
	border: 1px solid #ddd;
	background: #fff;
	height: 40px;

	&:focus, &:active {
	  outline: none;
	}

	.repeater-visibility-button {
	  background-color: #ffffff;
	  height: 100%;
	  width: 40px;
	  border: 0;
	  border-right: 1px solid #ddd;
	  color: $gray;
	}

	h4 {
	  display: flex;
	  margin: 0;
	  padding-left: 10px;
	  align-items: center;
	}

	.repeater-arrow-button {
	  background-color: #ffffff;
	  color: #444444;
	  height: 100%;
	  width: 40px;
	  border: 0;
	  margin-left: auto;
	}
  }

  .nv-repeater-content {
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	border: 1px solid #ddd;
	border-top: 0;
  }
}
