@import 'vars';

.repeater-wrap {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.customizer-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 13px 0;

  .add-more-fields {
	border: 1px solid $button-color;
	border-radius: 3px;
	box-sizing: border-box;
  }
  //.nv-repeater--add-new {
	//background-color: transparent;
	//color: $button-color;

	//outline: none;
	//cursor: pointer;
	//font-size: 13px;
	//min-height: 30px;
	//margin: 0;
	//padding: 0 10px;


  //}
}
