.neve-palettes-wrap {
	display: flex;
	flex-wrap: wrap;
}

.neve-global-color-palette {
	height: 67px;
	display: flex;
	position: relative;
	margin-bottom: 15px;
	padding: 0;
	border: none;
	flex: 1;
	border-radius: 0;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&.active {
		outline: 2px solid $wp-blue;
	}

	&:nth-child(odd) {
		margin-right: 10px;
	}

	&:nth-child(even) {
		margin-left: auto;
	}

	.title {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.75);
		color: #fff;
		text-align: left;
		font-weight: 600;
		padding: 5px 10px;
		font-size: 14px;
	}

	.color {
		display: flex;
		width: 100%;
		height: 100%;
	}
}

.nv-accordion {
	width: calc(100% + 24px);
	color: #555d66;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-left: 4px solid #fff;
	transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
	font-size: 14px;
	border-right: none;
	padding: 10px 10px 11px 14px;
	line-height: 1.55;
	position: relative;
	margin: 0 -12px;
	cursor: pointer;

	&:hover {
		color: #0073aa;
		background: #f3f3f5;
		border-left-color: #0073aa;
	}

	&:focus, &:active {
		outline: none;
	}

	h4 {
		display: flex;
		margin: 0;
		align-items: center;
	}

	.dashicon {
		margin: 0 0 0 auto;
	}
}
