.nv-custom-palette-wrap {
	.header {
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		button {
			margin-left: auto;
		}
	}
}

.nv-custom-palette-inner {
	display: flex;
	.nv-custom-palette-color {
		height: 32px;
		width: 32px;
		border-radius: 50%;
		border: 1px solid #ccc;
		margin-bottom: 10px;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&.active {
			box-shadow: 0 0 0 2px $wp-blue;
			border-color: $wp-blue;
		}
	}
}

.global-color-picker {
	border: 1px solid #ccc;

	svg {
		margin-right: 0 !important;
	}

	&.active {
		color: $wp-blue;
	}
}
