$gray: #bfbfbf;
$icon: #0073aa;

.neve-sortable-item {
	z-index: 99999999999;
	display: flex;
	align-items: center;
	border: 1px solid $gray;
	background: #fff;
	height: 40px;

	&.disabled {
		.toggle {
			color: $gray;
		}
	}

	&:not(:first-child) {
		margin-top: -1px;
	}

	.label {
		font-weight: 600;
		font-size: 13px;
		margin: 0 5px;
	}

	button {
		background: transparent;
		border: none;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center !important;
		height: 100%;
	}


	.toggle {
		padding: 0 20px;
		color: $icon;
	}

	.handle {
		margin-left: auto;
		color: #bfbfbf;
		width: 40px;
	}
}
