@import 'vars';

.nv-item {
  background-color: #fff;

  .nv-header {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ccc;

	.nv-title {
	  width: 85%;
	  font-weight: 600;
	  display: flex;
	  padding: 10px 5px 10px 10px;
	  position: relative;
	  align-items: center;
	  justify-content: space-between;
	  cursor: pointer;

	  .nv-text {
		max-width: 185px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	  }

	  .expanded-icon {
		width: 20px;
		height: 20px;
	  }

	  .reorder-button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	  }
	}
  }


  .nv-item--content {
	//padding: 10px 15px;
	//border-bottom: 1px solid #ccc;

	.nv-repeater--field {
	  //margin-bottom: 10px;

	  label {
		display: block;
		font-weight: 500;
		margin-bottom: 3px;
		vertical-align: middle;
		cursor: pointer;
	  }
	}
  }
}
