$general-color: #444;

.nv-repeater-items-container {
  display: grid;
  row-gap: 10px;
  background-color: transparent;
}

.nv-repeater-item {
  .nv-repeater-item-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid #ddd;
	height: 40px;
	background-color: #FFFFFF;

	&.visibility-hidden > * {
	  opacity: .75;
	}

	.dashicon {
	  color: $general-color;
	  height: inherit;
	  width: 30px;
	  margin-left: auto;
	  margin-right: 0;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}

	.repeater-visibility-button {
	  background-color: #ffffff;
	  height: 100%;
	  min-width: 40px;
	  width: 40px;
	  border: 0;
	  border-right: 1px solid #ddd;
	  color: $general-color;
	}

	.nv-repeater-expand-button {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border: none;
	  background-color: #FFFFFF;
	  width: 100%;
	  padding: 0;
	}

	.nv-repeater-handle {
	  border: none;
	  background-color: #FFFFFF;
	  margin-left: auto;
	  width: 40px;
	  height: 40px;

	  .dashicon {
		color: #bfbfbf;
	  }
	}

	.repeater-item-title {
	  display: flex;
	  margin: 0;
	  padding-left: 10px;
	  align-items: center;
	  justify-content: center;
	  color: $general-color;
	  font-size: 14px;
	  font-weight: 600;
	}
  }

  .nv-repeater-content {
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	border: 1px solid #ddd;
	border-top: 0;
	display: grid;
	row-gap: 10px;

	.customize-control-title {
	  font-size: 13px;
	  line-height: 1.75;
	  font-weight: unset;
	}

	.icon-control {
	  height: 30px;
	  margin-bottom: 0;

	  .add-icon-button {
		height: 30px;
		width: 55px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 2px;
		margin-left: auto;
		border: 1px solid #ccc;
		color: $general-color;
		box-shadow: none !important;
	  }

	  .icon-setter {
		height: 30px;
		width: 55px;
		display: flex;
		padding: 0;
		margin-left: auto;

		.repeater-icon-preview {
		  height: inherit;
		  width: 100%;
		  justify-content: center;
		  align-items: center;
		  color: $general-color;
		  box-shadow: none;
		  outline: none;
		  padding: 0;
		  border: 1px solid #ccc;
		}

		.repeater-delete-icon {
		  height: inherit;
		  width: 30%;
		  justify-content: center;
		  align-items: center;
		  background-color: #ccc;
		  color: #fff;
		  border: none;
		  outline: none;
		  box-shadow: none;
		  padding: 0;

		  > * {  /* The 'no' dashicon size */
			height: 16px;
			width: 16px;
			font-size: 16px;
		  }
		}
	  }

	  .icons-popover-content {
		max-height: 280px;

		.icons-popover-header {
		  margin: 5px 10px;
		}

		.icons-container {
		  margin: 10px 10px 10px 10px;
		  display: grid;
		  grid-template-columns: repeat(5, 40px);
		  grid-template-rows: repeat(auto-fill, 40px);

		  .icon-button {
			width: 40px;
			height: 40px;
			justify-content: center;
			padding: 0;
		  }
		}

		.icons-load-more {
		  width: 100%;
		  display: flex;
		  justify-content: center;
		  padding-bottom: 10px;

		  svg {
			fill: #0073aa;
			animation: 2s infinite linear neve-spin;
		  }
		}
	  }
	}

	.nv-repeater-remove-button {
	  width: max-content;
	}
  }
}

.nv-repeater-options {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
  height: 40px;

  .nv-repeater-reorder-button {
	padding: 0 10px 0 10px;
	height: 40px;
  }

  .nv-repeater-add-item-button {
	height: 40px;
  }
}
