$color: var(--wp-admin-theme-color);

#accordion-section-neve_style_section {
  position: relative;

  h3 {
	padding-left: 30px;
  }

  &:after, &:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 14px;
	z-index: 10;
  }

  &:after {
	border: 2px solid $color;
	-webkit-animation: pulsate 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0
  }

  &:before {
	width: 6px;
	height: 6px;
	margin-left: 18px;
	background-color: $color;
  }
}

@-webkit-keyframes pulsate {
  0% {
	transform: translateY(-50%) scale(.1, .1);
	opacity: 0.0;
  }
  10% {
	opacity: 1;
  }
  20% {
	transform: translateY(-50%) scale(1.2, 1.2);
	opacity: 0.0;
  }
  21% {
	transform: translateY(-50%) scale(.1, .1);
	opacity: 0.0;
  }
  31% {
	opacity: 1;
  }
  41% {
	transform: translateY(-50%) scale(1.2, 1.2);
	opacity: 0.0;
  }
}

.customize-control-neve_skin_switcher {
  .neve-white-background-control {
	padding: 20px 15px;
  }

  button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
}
