$icon-fill: #9c9c9c;
$input-borders: #ccc;
$accent-color: #555d66;
$wp-blue: #037FB8;
$text-field-border: #8c8f94;
$text-field-color: #2c3338;
$icon-picker-border: #e6e6e6;
$button-color: #2271b1;
$remove-icon-background: #f6f7f7;
$hover: #13AFF0;
