ul[id^="sub-accordion-panel-hfg_"] {
  .control-subsection {
    display: none !important;
  }
  
  .control-subsection:has(.nv-upsell-feat-container) {
    display: block !important;
  }

  li[id*="accordion-section-hfg_"] {
	  display: block !important;
  }

  #accordion-section-neve_header_presets,
  #accordion-section-neve_footer_copyright_section {
	  margin-top: 20px;
  }
}
