.control-section-hfg_instructions {
  display: list-item !important;

  .quick-links-inner {
	padding: 0 15px;
  }
}

.quick-links-inner {
  .quick-links {
	font-size: 14px;
	font-weight: 500;

	button {
	  text-decoration: none;
	}

	.quick-links-badge {
		text-transform: uppercase;
		margin-left: 6px;
		color: #3965e3;
		background-color: #dee8fc;
		padding: 2px 6px;
		border-radius: 5px;
		font-weight: 600;
		font-size: 12px;
	}

	.quick-links-upsell {
		background-color: #f9fafb;
		padding: 20px 15px;

		p {
			margin: 0;
			color: #4d5562;
		}
	}
  }

  .quick-links-wrap {
	margin: 10px 0;
	display: block;
	background: #fff;
	border-radius: 3px;
	padding: 10px 20px;

	span {
	  margin-right: 10px;
	}
  }

  .is-link {
	text-decoration: none;
  }
}
