.items-popover {
	box-shadow: 0 3px 30px rgba(25, 30, 35, .1);
	border-radius: 4px;
	z-index: 100000;

	.no-components {
		text-align: center;
		padding: 30px;
	}

	.popover-header {
		display: flex;
		padding: 5px 10px;
		position: relative;
		border-bottom: 1px solid #e1e4e7;

		input {
			appearance: none;
			width: 100%;
			height: 35px;
			border: 1px solid #8d96a0;
			outline: none;
			box-shadow: none;
			font-size: 13px;
			margin: 16px;
			padding: 11px 16px 11px 30px;
			border-radius: 4px;
		}

		> svg {
			position: absolute;
			fill: #8d96a0;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.items-popover-content {
		width: 400px;
		padding: 10px;
		overflow-y: auto;
		max-height: 375px;
		height: 375px;
		background-color: #fff;
	}

	.items-popover-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
	}

	.popover-item {
		width: 100%;
		height: auto;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		padding: 15px 7px;
		color: #545d66;
		line-height: 1.4em;
		font-size: 13px;

		&:hover {
			background: #f3f3f5;
		}

		.dashicon {
			margin: 0 0 10px;
		}
	}

	.ext.popover-item {
		position: relative;
		opacity: .45;

		&:hover, &:focus {
			opacity: 1;

			.nv-lock {
				background-color: $wp-blue;
			}
		}
	}

	.nv-lock {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2px 4px;
		text-transform: uppercase;
		background-color: #545d66;
		color: #fff;
		top: 5px;
		right: 5px;
		position: absolute;
		width: unset;
		height: unset;
		border-radius: 20px;
		font-size: 12px;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
		}

		.dashicons {
			margin: 0 !important;
			width: 14px;
			height: 14px;
			font-size: 13px;
		}
	}
}
