.control-section-typography_font_pair_section {
  display: list-item !important;

  .neve-font-pair-selector {
	display: flex;
	flex-direction: column;
	padding: 14px;

	button {
		border: 1px solid transparent;
		border-radius: 4px;
		padding: 4px 8px;
		margin-bottom: 8px;
		display: flex;
		flex-direction: column;
		height: 90px;
		justify-content: space-evenly;
		color: var(--nv-text-color);
		background: var(--nv-site-bg);

		&:hover, &focus {
			border: 1px solid #333;
			background: var(--nv-dark-bg);
			color: var(--nv-text-dark-bg);
			cursor: pointer;
		}

		&.active {
		  position: relative;
		  border: 1px solid var(--wp-admin-theme-color);
		  &::before {
			content: "\f147";
			position: absolute;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 27px;
			height: 27px;
			background-color: var(--wp-admin-theme-color);
			color: #fff;
			border-radius: 6px 0 4px 0;
		  }
		}

		&.reset {
		  border: none;
		  background: none;
		  height: auto;
		  flex-direction: row;
		  justify-content: center;
		  margin-top: 12px;
		  span {
			margin-right: 12px;
		  }
		  &:hover, &focus {
			color: var(--wp-admin-theme-color);
		  }
		}

		.neve-font-preview {
			font-size: 28px;
			font-weight: 700;
			text-align: left;
			padding: 0 8px;

			& + .neve-font-preview {
				font-size: 18px;
				font-weight: normal;
			}
		}
	}
  }
}
