input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: vertical;
}

input:read-write, select, textarea, [tabindex="-1"] {
  &:focus, &:focus-visible {
	outline: 0;
	box-shadow: 0 0 3px 0 var(--nv-secondary-accent);
	--formFieldBorderColor: var(--nv-secondary-accent);
  }
}

input, textarea, select, button {
  line-height: inherit;
  box-sizing: border-box;
}

::placeholder {
  color: inherit;
  opacity: .5;
}

select {
  min-height: 35px;
}

label {
  display: inline-block;
}

fieldset {
  padding: $spacing-lg - 10px $spacing-lg;
  border: 1px solid var(--nv-light-bg);

  legend {
	font-weight: 700;
	padding: 0 $spacing-sm;
	margin-left: -$spacing-sm;
  }

  input[type="text"], input[type="search"], input[type="password"], textarea, select {
	width: 100%;
  }
}


form input:read-write, form textarea, form select, form select option, form.wp-block-search input.wp-block-search__input, .widget select {
  @extend %nv-form-fields;
}

form label, .wpforms-container .wpforms-field-label {
  @extend %nv-form-labels;
}
