.woocommerce {
  ul.products li.product {
    text-align: center;
    .added_to_cart {
      margin-top: 1em;
    }
    .button.added {
      display: none;
    }
  }

  #respond input#submit,
  a.button,
  button.button,
  input.button,
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt,
  button.button.alt.disabled {
    @include button();
    @include button_primary();
    line-height: inherit;
    &:focus, &:hover {
      @include button();
      @include button_primary('false');
      line-height: inherit;
    }
  }
  a.added_to_cart {
    @include button();
    @include button-secondary();
    line-height: inherit;
  }
  button.button:disabled, button.button:disabled[disabled] {
    color: #fff;
  }
}

.woocommerce ul.products li.product .button {
  white-space: normal;
  line-height: inherit;
}

.woocommerce ul.products li.product .button.loading {
  padding-right: $spacing;
}