//<editor-fold desc="Title-less">
.woocommerce-cart {
  &.nv-without-title .neve-main {
    padding-top: $spacing;
  }
}

//</editor-fold>

//<editor-fold desc="Remove button">
.woocommerce a.remove {
  color: $error !important;
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 18px;

  &:hover {
    background-color: $error !important;
  }
}

//</editor-fold>

//<editor-fold desc="Product thumbnail">
.woocommerce #content table.cart .product-thumbnail,
.woocommerce table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail {
  text-align: center !important;

  &:before {
    content: none;
  }

  a {
    margin: 0 auto;
  }

  img {
    width: 75px;
  }
}

//</editor-fold>

//<editor-fold desc="Coupon code">
.woocommerce table.cart td.actions .input-text#coupon_code {
  width: 150px;
}

.woocommerce-cart table.cart td.actions .coupon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $spacing-xs;
  justify-content: space-between;

  > .input-text {
    float: none;
    width: 100%;
  }

  > .input-text + .button {
    float: none;
    width: 100%;
    @extend %nv-woo-button-secondary;
  }
}

//</editor-fold>

.shipping-calculator-form p:not(:last-child) {
  margin-bottom: $spacing-xs;
}

.woocommerce a.button.checkout-button.alt {
  &, &:focus, &:active {
    display: block;
    margin: 0 20px;
  }
}

//<editor-fold desc="Cart totals table">
.woocommerce .cart_totals {
  border: $muted-border;
  margin-bottom: $spacing;

  > h2 {
    margin-bottom: 0;
    font-size: 1em;
    padding: 9px 12px;
    background-color: #f7f7f7;
  }

  table.shop_table {
    margin-bottom: 0;
    border: none;

    tbody {
      font-size: .85em;

      th, td {
        font-weight: 400;
        vertical-align: top;
        border-bottom: 0;
        border-top: 1px solid #f0f0f0;
      }
    }

    .shipping-calculator-form {
      text-align: left;
    }
  }

  .wc-proceed-to-checkout {
    border-top: $muted-border;
  }

  .form-row {
    padding: 5px 0;
  }

  ul#shipping_method {
    text-align: left;

    .shipping-method-description {
      margin: 0 0 0 5px;
    }

    li {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: $spacing-sm;

      input {
        margin: 0 5px 0 0 !important;
      }

      label {
        margin: 0;
      }
    }
  }
}

//</editor-fold>

.cross-sells {
  border: $muted-border;
  margin-bottom: $spacing;

  > h2 {
    margin-bottom: 0;
    font-size: 1em;
    padding: 9px 12px;
    background-color: #f7f7f7;
  }

  ul.products {
    padding: 12px 12px 0;
    margin-bottom: 0;

    .product {
      margin-bottom: $spacing-xs !important;
    }
  }
}

.woocommerce table.shop_table.cart {
  border-radius: 0;
  border: $muted-border;

  thead {
    background-color: #f7f7f7;
  }

  tr:not(:first-child) {
    border-top: 1px solid #f0f0f0;
  }

  td {
    background: #fff !important;
    border-top: 0;

    a.remove {
      margin: 0;
    }
  }

  td.actions {
    border-bottom: 0;
  }
}


//<editor-fold desc="Cart widget">
.woocommerce .widget_shopping_cart .total {
  border-top: $muted-border;
  text-align: center;
  margin-top: $spacing-xs;
  padding-top: $spacing-xs;
}

.woocommerce-mini-cart__buttons {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr;
  margin-bottom: 0;

  a {
		align-self: center;
		&:first-child {
      grid-column-start: 1;
    }

    &:nth-child(2) {
      grid-column-start: 3;
    }

    &:nth-child(3) {
      grid-column: span 3;
      text-align: center;
      margin-top: $spacing-xs;
    }
  }
}

//</editor-fold>

.woocommerce td.product-name {
	a {
		margin-bottom: $spacing-xs;
		display: block;
	}
	dl.variation {
		font-size: .9em;
		dt {
			float: none;
		}
		dd {
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@mixin cart--tablet() {
}

@mixin cart--laptop() {
  .woocommerce table.shop_table.cart {
    thead th {
      border: 0;
    }

    tbody tr:first-child {
      border-top: none;
    }

    .product-remove a.remove {
      margin: 0 auto;
    }
  }
  .woocommerce-cart table.cart td.actions .coupon {
    margin-bottom: 0;
  }
  .woocommerce .cart_totals table.shop_table tbody {
    th, td {
      vertical-align: top;
      border-bottom: 0;
      border-top: 1px solid #f0f0f0;
    }

    #shipping_method {
      margin-top: 0;
    }
  }
}
