@media (min-width: #{$tablet-sm}) {
  @include generic--tablet-sm();
}

@media (min-width: #{$tablet}) {
  @include cart--tablet();
  @include product--tablet();
}

@media (min-width: #{$laptop}) {
  @include nav-cart--laptop();
  @include shop-sidebar--laptop();
  @include cart--laptop();
	@include product--laptop();
  @include shop-loop--laptop();
  @include checkout--laptop();
  @include account--laptop();
}

@media (min-width: #{$desktop}) {

}
