.orderby {
  color: $gray-color;
}

.nv-woo-filters .nv-sidebar-toggle {
  color: $gray-color;
}

.nv-shop {
  margin: $spacing-sm 0;
}

.nv-woo-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: $spacing-xs 0 $spacing-sm;
  justify-content: space-between;
  .woocommerce-ordering {
    margin: 0;
  }
  .nv-sidebar-toggle + .woocommerce-ordering {
    margin: 0 0 0 $spacing-xs;
  }
}

//<editor-fold desc="Product title link">
.woocommerce ul.products li.product a.woocommerce-loop-product__link {
  color: $body-color;
  &:hover h2 {
    color: $body-color;
    text-decoration: underline;
  }
}
//</editor-fold>

@mixin shop-loop--laptop() {
  .woocommerce-ordering {
    margin-left: 0;
  }
  .nv-woo-filters {
    .nv-sidebar-toggle + .woocommerce-ordering {
      margin: 0;
    }
  }
}