.orderby {
	//color: var(--nv-text-color);
	opacity: .8;
}

.nv-woo-filters .nv-sidebar-toggle {
	color: var(--nv-text-color);
}

.nv-shop {
	margin: $spacing-sm 0;
}

.nv-woo-filters {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: $spacing-xs 0 $spacing-sm;
	justify-content: space-between;

	.woocommerce-ordering {
		margin: 0;
	}

	.nv-sidebar-toggle + .woocommerce-ordering {
		select {
			max-width: 155px;
			margin-bottom: 0;
		}
	}
}

//<editor-fold desc="Product title link">
.woocommerce ul.products li.product {
	div:not(.sp-quick-view-product) {
		color: var(--nv-text-color);

		&:hover h2 {
			color: var(--nv-text-color);
			text-decoration: underline;
		}
	}

	mark {
		color: var(--nv-text-color);
	}

	.sp-product-image img {
		width: 100%;
	}
}

//</editor-fold>

.img-wrap {
  position: relative;
  .out-of-stock-badge {
	color: var(--nv-text-color);
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	background: #fff;
	padding: 20px 0;
	background: var(--nv-light-bg);
	text-align: center;
	opacity: .9;
	z-index: 1;
  }
}

@mixin shop-loop--laptop() {
	.woocommerce-ordering {
		margin-left: 0;
	}
	.nv-woo-filters {
		.nv-sidebar-toggle + .woocommerce-ordering {
			margin: 0;
		}
	}
}

@mixin shop-loop--tablet-sm() {
	.nv-woo-filters .nv-sidebar-toggle + .woocommerce-ordering {
		select {
			max-width: none;
		}
	}
}
