.ti-sites-lib {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    grid-column-gap: 2%;
    grid-row-gap: 20px;
}

.ti-sites-lib__preview {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100000;
    height: 100vh;
}

.ti-sites-lib__preview iframe {
    width: 100%;
    height: auto;
    border: none;
    flex: 1;
    overflow: hidden;
}

.preview-sidebar__container {
    padding: 15px 50px;
    display: flex;
    align-items: center;
}

.ti-sites-lib .ellipsis {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.import-modal__wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.import-modal__wrapper .modal__item {
    background: #fff;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 600px;
}

.import-modal__wrapper .modal__content {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.modal__content .left__content,
.modal__content .right__content {
    padding: 5px;
}

.modal__content .right__content .screenshot {
    max-width: 200px;
}

.modal__content .right__content p {
    font-size: 15px;
    color: #555;
}

.modal__content .import__paragraph {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding: 0 0 15px;

}

.modal__content .right__content p strong {
    text-transform: uppercase;
    color: #444;
}

.modal__content h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}

.modal__content .after__actions {
    display: block;
    align-self:  flex-end;
}

.modal__content.import__done {
    flex-direction: column;
    padding-bottom: 20px;
}

a.expander {
    cursor: pointer;
}

a.skip-onboarding {
    cursor: pointer;
    display: block;
    text-align: center;
    color: #888;
    margin-top: 15px;
}

.is__onboarding {
    position: fixed;
    width: 100%;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    z-index: 100000;
    background: #f1f1f1;
    padding: 100px 0;
    overflow-y: scroll;
}

.is__onboarding .library-wrapper {
    max-width: 1000px;
    padding: 25px 25px 0;
    margin: 0 auto;
    box-shadow: 0 1px 14px rgba(34,31,31,.1);
    background: #fff;
    justify-items: center;
    align-items: center;
    justify-content: center;

}

.is__onboarding .site-box {
    margin-bottom: 25px;
    margin-right: 1%;
}

.is__onboarding .header {
    margin-bottom: 20px;
}


.is__onboarding .ti-sites-lib {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.is__onboarding .ti-sites-lib > div {
    width: 32%;
    margin-right: 2%;
}

.is__onboarding .ti-sites-lib > div:nth-child(3n), .is__onboarding .ti-sites-lib > div:last-child {
    margin-right: 0;
}

@media ( max-width: 1080px ) {
    .ti-sites-lib {
        grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
        grid-column-gap: 2%;
    }

    .ti-sites-lib .site-box {
        margin-bottom: 20px;
    }
}

@media ( max-width: 768px ) {
    .ti-sites-lib {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-column-gap: 0;
    }

    .ti-sites-lib .site-box {
        margin-bottom: 20px;
    }

    .ti-sites-lib .site-box img {
        object-fit: cover;
        width: 1000px;
    }

    .import-modal__wrapper .modal__content {
        flex-direction: column-reverse;
    }

    .modal__content .right__content .screenshot {
        max-width: 100%;
    }

    .import-modal__wrapper .modal__item {
        width: 95%;
    }


    .is__onboarding .ti-sites-lib > div {
        width: 48%;
        margin-right: 4%;
    }

    .is__onboarding .ti-sites-lib > div:nth-child(3n) {
        margin-right: 4%;
    }
    .is__onboarding .ti-sites-lib > div:nth-child(2n), .is__onboarding .ti-sites-lib > div:last-child {
        margin-right: 0;
    }
}

@media (max-width: 580px) {

    .is__onboarding .ti-sites-lib > div {
        width: 100%;
        margin-right: 0 !important;
    }
}

