// Buttons

@mixin nv-button-generic() {
  cursor: pointer;
  border-style: solid;
  box-sizing: border-box;
}

%nv-button {
  cursor: pointer;
  box-sizing: border-box;
  border-color: currentColor;
}

%nv-button-primary {
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--primaryBtnBg);
  color: var(--primaryBtnColor);
  border: var(--primaryBtnBorderWidth, 0) solid currentColor;
  //border-width: var(--primaryBtnBorderWidth, 0);
  padding: var(--primaryBtnPadding, 10px 15px);
  border-radius: var(--primaryBtnBorderRadius, 3px);
  font-weight: var(--primaryBtnFontWeight, 700);
  font-size: var(--primaryBtnFs, var(--bodyFontSize));
  line-height: var(--primaryBtnLineHeight, 1.6);
  letter-spacing: var(--primaryBtnLetterSpacing, var(--bodyLetterSpacing));
  text-transform: var(--primaryBtnTextTransform, none);
}

%nv-button-primary-hover {
  background-color: var(--primaryBtnHoverBg);
  color: var(--primaryBtnHoverColor);
  border-color: var(--primaryBtnHoverColor);
}

%nv-button-primary-no-colors {
  cursor: pointer;
  box-sizing: border-box;

  border: var(--primaryBtnBorderWidth, 0) solid currentColor;
  //border-width: var(--primaryBtnBorderWidth, 0);
  padding: var(--primaryBtnPadding, 10px 15px);
  border-radius: var(--primaryBtnBorderRadius, 3px);
  font-weight: var(--primaryBtnFontWeight, 700);
  font-size: var(--primaryBtnFs, var(--bodyFontSize));
  line-height: var(--primaryBtnLineHeight, 1.6);
  letter-spacing: var(--primaryBtnLetterSpacing, var(--bodyLetterSpacing));
  text-transform: var(--primaryBtnTextTransform, none);
}

%nv-button-secondary {
  cursor: pointer;
  box-sizing: border-box;

  background-color: var(--secondaryBtnBg);
  color: var(--secondaryBtnColor);

  border: var(--secondaryBtnBorderWidth, 3px) solid currentColor;
  //border-width: var(--secondaryBtnBorderWidth);
  padding: var(--secondaryBtnPadding, 7px 15px);
  border-radius: var(--secondaryBtnBorderRadius, 3px);
  font-weight: var(--secondaryBtnFontWeight, 700);
  font-size: var(--secondaryBtnFs, var(--bodyFontSize));
  line-height: var(--secondaryBtnLineHeight, 1.6);
  letter-spacing: var(--secondaryBtnLetterSpacing);
  text-transform: var(--secondaryBtnTextTransform, none);
}

%nv-button-secondary-hover {
  background-color: var(--secondaryBtnHoverBg);
  color: var(--secondaryBtnHoverColor);
  border-color: var(--secondaryBtnHoverColor);
}

%nv-button-secondary-no-colors {
  cursor: pointer;
  padding: var(--secondaryBtnPadding, 7px 15px);
  border-radius: var(--secondaryBtnBorderRadius, 3px);
  border-width: var(--secondaryBtnBorderWidth);
  font-weight: var(--secondaryBtnFontWeight, 700);
  font-size: var(--secondaryBtnFs, var(--bodyFontSize));
  line-height: var(--secondaryBtnLineHeight, 1.6);
  letter-spacing: var(--secondaryBtnLetterSpacing, var(--bodyLetterSpacing));
  text-transform: var(--secondaryBtnTextTransform, none);
}

// Form Fields
%nv-form-fields {
  margin-bottom: var(--formFieldSpacing);
  border: var(--formFieldBorderWidth) solid var(--formFieldBorderColor);
  border-radius: var(--formFieldBorderRadius, 3px);
  background: var(--formFieldBgColor);
  color: var(--formFieldColor);
  padding: var(--formFieldPadding);

  text-transform: var(--formFieldTextTransform);
  font-weight: var(--formFieldFontWeight);
  font-family: var(--bodyFontFamily);
  font-size: var(--formFieldFontSize);
  letter-spacing: var(--formFieldLetterSpacing);
  line-height: var(--formFieldLineHeight);
}

%nv-form-labels {
  margin-bottom: var(--formLabelSpacing);
  font-weight: var(--formLabelFontWeight, var(--bodyFontWeight));
  text-transform: var(--formLabelTextTransform);
  letter-spacing: var(--formLabelLetterSpacing);
  line-height: var(--formLabelLineHeight);
  font-size: var(--formLabelFontSize, var(--bodyFontSize));
}

%nv-reset-field-spacing {
  --formFieldSpacing: 0;
}
