.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

@mixin grid-container--tablet-sm() {
  .container {
	max-width: 540px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  > div {
	margin: 0 -15px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

