// === Separators === //
.wp-block-separator {
	margin: 28px 0;
	display: block;
	border: none;
	border-bottom: 2px solid currentColor;
	padding: 0.1px 0;

	&:not(.is-style-dots):not(.is-style-wide) {
		width: 100px;
		margin: auto;
		display: inherit;
	}
}
