@import "./variables";

html {
	font-size: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--nv-site-bg);
	color: var(--nv-text-color);
	font-size: var(--bodyFontSize);
	line-height: var(--bodyLineHeight);
	letter-spacing: var(--bodyLetterSpacing);
	font-family: var(--bodyFontFamily), var(--nv-fallback-ff);
	text-transform: var(--bodyTextTransform);
	font-weight: var(--bodyFontWeight);
	overflow-x: hidden;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: $spacing-lg;
	font-family: var(--headingsFontFamily), var(--nv-fallback-ff);
}

p {
	margin-bottom: $spacing-lg;
}

a {
	--linkDeco: none;

	color: var(--nv-primary-accent);
	cursor: pointer;
	text-decoration: var(--linkDeco);

	&:hover,
	&:focus {
		opacity: 0.9;
		color: var(--nv-secondary-accent);
	}
}

.entry-content,
.widget_text,
.nv-template .neve-main,
.nv-comment-content {

	a:not([class]) {
		--linkDeco: underline;
	}
}

ins {
	text-decoration: none;
}

h1 {
	font-size: var(--h1FontSize);
	font-weight: var(--h1FontWeight);
	line-height: var(--h1LineHeight);
	letter-spacing: var(--h1LetterSpacing);
	text-transform: var(--h1TextTransform);
}

h2 {
	font-size: var(--h2FontSize);
	font-weight: var(--h2FontWeight);
	line-height: var(--h2LineHeight);
	letter-spacing: var(--h2LetterSpacing);
	text-transform: var(--h2TextTransform);
}

h3 {
	font-size: var(--h3FontSize);
	font-weight: var(--h3FontWeight);
	line-height: var(--h3LineHeight);
	letter-spacing: var(--h3LetterSpacing);
	text-transform: var(--h3TextTransform);
}

h4 {
	font-size: var(--h4FontSize);
	font-weight: var(--h4FontWeight);
	line-height: var(--h4LineHeight);
	letter-spacing: var(--h4LetterSpacing);
	text-transform: var(--h4TextTransform);
}

h5 {
	font-size: var(--h5FontSize);
	font-weight: var(--h5FontWeight);
	line-height: var(--h5LineHeight);
	letter-spacing: var(--h5LetterSpacing);
	text-transform: var(--h5TextTransform);
}

h6 {
	font-size: var(--h6FontSize);
	font-weight: var(--h6FontWeight);
	line-height: var(--h6LineHeight);
	letter-spacing: var(--h6LetterSpacing);
	text-transform: var(--h6TextTransform);
}

ul,
ol {
	padding-left: var(--listPad, 0);
}

ul {
	list-style: var(--listStyle, none);
}
