@import "./variables";

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--nv-site-bg);
  color: var(--nv-text-color);
  font-size: var(--bodyFontSize);
  line-height: var(--bodyLineHeight);
  letter-spacing: var(--bodyLetterSpacing);
  font-family: var(--bodyFontFamily), var(--nv-fallback-ff);
  overflow-x: hidden;
  direction: ltr;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: $h-margin-bottom;
  font-weight: $h-font-weight;
  font-family: var(--headingsFontFamily), var(--nv-fallback-ff);
}

p {
  margin-bottom: $p-margin-bottom;
}

a {
  color: var(--nv-primary-accent);
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
	opacity: .9;
	color: var(--nv-secondary-accent);
  }
}

ins {
  text-decoration: none;
}

h1 {
  font-size: var(--h1FontSize);
  font-weight: var(--h1FontWeight);
}

h2 {
  font-size: var(--h2FontSize);
  font-weight: var(--h2FontWeight);
}

h3 {
  font-size: var(--h3FontSize);
  font-weight: var(--h3FontWeight);
}

h4 {
  font-size: var(--h4FontSize);
  font-weight: var(--h4FontWeight);
}

h5 {
  font-size: var(--h5FontSize);
  font-weight: var(--h5FontWeight);
}

h6 {
  font-size: var(--h6FontSize);
  font-weight: var(--h6FontWeight);
}
