$line-height: 1.68421 !default;
$h-font-weight: 700;

// Font sizes.
$small-text: .9em;

// Spacing variables.
$spacing-xxs: 8px;
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 80px;
$spacing-aired: 60px;


$muted-white: #f0f0f0;
$muted-white-med: #c9c9c9;
$gray-color: #676767; //rgba(0,0,0,.54);

$body-color: var(--nv-text-color);
$success: var(--nv-c-1);
$error: var(--nv-c-2);

$muted-border: 1px solid var(--nv-light-bg);
$muted-border-med: 1px solid #c9c9c9;

$tablet-sm: "576px";
$tablet: "769px";
$laptop: "960px";
$desktop: "1200px"

