$font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, var(--nv-fallback-ff);
$line-height: 1.68421 !default;
$h-font-weight: 700;
$h-margin-bottom: .8rem;
$p-margin-bottom: 20px !default;

// Font sizes.
$body-size: 16px !default;

// Desktop font sizes.
$h1-size: 64px !default;
$h2-size: 48px !default;
$h3-size: 30px !default;
$h4-size: 24px !default;
$h5-size: 18px !default;
$h6-size: 16px !default;

// Tablet font sizes.
$h1-tablet-size: 60px !default;
$h2-tablet-size: 32px !default;
$h3-tablet-size: 24px !default;
$h4-tablet-size: 18px !default;
$h5-tablet-size: 16px !default;
$h6-tablet-size: 14px !default;

// Mobile font sizes.
$h1-mobile-size: 32px !default;
$h2-mobile-size: 24px !default;
$h3-mobile-size: 18px !default;
$h4-mobile-size: 16px !default;
$h5-mobile-size: 14px !default;
$h6-mobile-size: 12px !default;

// Spacing variables.
$spacing-xxs: 8px;
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 80px;

$link_color: #0366d6;
$link_hover_color: #0366d6;
$muted-white: #f0f0f0;
$muted-white-med: #c9c9c9;
$gray-color: #676767; //rgba(0,0,0,.54);
$git-black: #24292e;
$info: #11cdef;

$button-color: #0073AA !default;
$link-color: #38A7DC !default;
$body-color: var(--nv-text-color);
$success: var(--nv-c-1);
$error: var(--nv-c-2);

$muted-border: 1px solid var(--nv-light-bg);
$muted-border-med: 1px solid #c9c9c9;

$tablet-sm: "576px";
$tablet: "769px";
$laptop: "960px";
$desktop: "1200px"

