@import "vars";

.responsive-switches {
  margin-bottom: 15px;
  display: inline-flex;
  width: auto;

  .device-switcher {
	border-bottom: 2px solid $wp-grey;
	border-radius: 0;
	font-weight: 600;
	color: $item-text-color;
	padding: 5px 15px;
	opacity: .85;

	.dashicons {
	  color: $item-icons-color;
	}

	&.active {
	  opacity: 1;
	  border-bottom-color: $wp-blue;

	  &.dashicons {
		color: $wp-blue;
	  }
	}
  }
}
