@import "vars";

.neve-builder-sidebar-content {
  padding: 15px;

  .no-components {
	border: $droppable-border;
	color: $item-text-color;
	margin-top: 10px;
	padding: 15px;
  }
}

.sidebar-items {
  margin-top: 10px;

  .droppable {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px 5px;

	.builder-item {
	  margin: 0;
	  padding-right: 10px;

	  svg {
		flex-shrink: 0;
	  }

	  span {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	  }
	}
  }
}
