$wp-light-grey: #EDEDED;
$wp-grey: #D9D9D9;
$wp-grey-border: 1px solid #D9D9D9;
$wp-blue: #0073AA;
$droppable-border: 1px dashed #cecece;
$rows-height: 45px;
$item-text-color: #555D66;
$item-icons-color: #7D838A;

