/* Logo & Site Identity */
.site-branding {
  display: flex;
  line-height: .9;
  vertical-align: middle;
  a {
    display: inline-block;
    letter-spacing: 0.4px;
    font-weight: 600;
  }

  img {
    display: block;
    width: auto;
    line-height: 1;
  }
  .site-title {
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
    line-height: 1.216;
  }
  .site-description {
    margin: 5px 0px 7px 0px;
  }
  &.logo-left {
    .logo-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .site-name-desc {
      margin-left: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &.logo-right {
    flex-direction: row-reverse;
    .logo-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .site-name-desc {
      margin-right: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &.logo-top{
    flex-direction: column;
    .site-name-desc {
      //margin-bottom: 7px;
    }
  }
  &.logo-bottom{
    flex-direction: column-reverse;
    .site-name-desc {
      margin-top: 7px;
    }
  }
}
.item-button {
  display: inline-block;
}

.site-header {
  .cb-row--mobile {
    .site-branding img {
      max-width: 100%;
    }
  }
}