.toggle-palette {

  a {
	text-decoration: none;
	font-size: 0.8em;
	line-height: 1.2em;
	letter-spacing: 0;
	span {
	  display: inline-flex;
	  &.label {
		display: inline-flex;
		font-size: small;
		vertical-align: middle;
		color: var(--nv-primary-accent);
	  }
	}
	svg {
	  color: var(--nv-primary-accent);
	}
	&:hover {
	  text-decoration: none;
	  svg {
		color: var(--nv-secondary-accent);
	  }
	}
  }
}
