.builder-item--header_search {
  line-height: 1;
  flex-grow: 1;
  input[type=submit]:hover {
	background-color: transparent;
  }
  .nv-search-icon-wrap, input[type=submit] {
	right: 10px;
  }

  .widget-search {
	width: 100%;
  }

  input[type="search"] {
	background-color: #fff;
  }
}

