.builder-item div[class*="builder-item--header_search"]:not(.builder-item--header_search_responsive) {
  line-height: 1;
  flex-grow: 1;

  .widget-search {
    width: 100%;
  }

  input[type="search"] {
    background-color: #fff;
  }
}

