/* Customize Preview */
.customize-previewing {
  overflow-x: hidden;

  &.is-menu-sidebar .customize-partial-refreshing {
    opacity: 1;
    transition: none;
  }

  &.is-menu-sidebar .customize-partial-refreshing #header-menu-sidebar #header-menu-sidebar-inner {
    opacity: 0.5;
    transition: opacity .25s;
  }

  .builder-item-focus {
    &.item--inner, &.row--wrapper {
      position: relative;

      &.has_menu {
        .item--preview-name {
          left: auto;
        }
      }
    }

    .item--preview-name {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
      position: absolute;
      top: 100%;
      left: 0;
      background: #0073aa;
      color: #fff;
      padding: 5px !important;
      font-size: 12px !important;
      font-weight: 600 !important;
      line-height: 14px !important;
      letter-spacing: normal !important;
      cursor: pointer;
      border-radius: 0;
      display: none;
    }

    .edit-row-action {
      top: 0;
      width: 26px;
      position: absolute;
      right: 0;
      background: #0073aa;
      fill: #FFFFFE;
      font-size: 0;
      display: none;
      cursor: pointer;
    }

    &:hover {
      &.item--inner, &.row--wrapper {
        transition-delay: 0s !important;
        outline: 1px solid #0073aa;
        outline-offset: -1px;

        > .item--preview-name, > .edit-row-action {
          display: block;
          z-index: 9999999;
        }
      }
    }
  }

  .header--row,
  .header-menu-sidebar {
    .customize-partial-edit-shortcut {
      display: none;
    }

    .builder-item-focus {
    }
  }

  .footer--row {
    .builder-item-focus {
      &:hover {
        &.item--inner {
          position: relative;
          outline: 1px dashed #ff472e;
          outline-offset: -1px;
        }
      }
    }
  }
}

/* Customizer Shortcut */
#header-menu-sidebar {
  .customize-partial-edit-shortcut {
    display: none;
  }
}
