@import "components/main/variables";
@import "components/main/extends";

.editor-styles-wrapper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &, > * {
	background-color: var(--nv-site-bg);
  }

  .wp-block {
	margin-left: auto;
	margin-right: auto;
  }

  .editor-post-title__input, .block-list-appender textarea {
	&::placeholder {
	  color: var(--nv-text-color);
	  opacity: .5;
	}
  }

  .block-list-appender textarea {
	color: var(--nv-text-color);
  }

  @import "components/editor/typography";
  @import "components/editor/formatting";
}

.neve-meta-button-group {
  .components-button-group {
	.components-button.is-primary:not(.import) {
	  z-index: inherit;
	}
  }
}

.wp-block-table td:focus {
  border-left: $base-border;
  border-right: $base-border;
}
