@import "./components/main/extends";

.llms-loop-list {
  padding: 0!important;
}

.llms-sd-section-footer{
  margin-bottom: 25px;
}

.llms-pagination {
  margin: 10px auto;
  ul{
	list-style-type: none;
	padding: 0;
	li .page-numbers {
	  text-decoration: none;
	  display: inline-block;
	  padding: 12px 15px;
	}
  }
}

.llms-button-primary, .llms-button-action {
  display: inline-block;
  @extend %nv-button-primary;
  &:hover {
	@extend %nv-button-primary-hover;
  }
}

.llms-button-secondary {
  display: inline-block;
  @extend %nv-button-secondary;
  &:hover {
	@extend %nv-button-secondary-hover;
  }
}

.llms-loop-item-footer {
  .avatar, .llms-author-info {
	vertical-align: middle;
  }
}

.llms-choice > label {
  width: 100%;
}

.single-course {
  .review_box {
	background-color: var(--nv-light-bg);
	padding: 40px;

	input:read-write, textarea {
	  max-width: 100%;
	  width: 100%;
	  display: block;
	  @extend %nv-form-fields;
	}

	textarea {
	  height: 200px;
	}
  }

  .llms-lesson-counter {
  	display: inline-block;
  	margin-bottom: 0;
  }
}

.llms-course-nav .llms-lesson-preview {
  width: 100%;
}

.llms-loop-item-content{
  &:hover{
	background: var(--nv-light-bg);
  }
  background: var(--nv-light-bg);
  .llms-loop-link, .llms-meta, .llms-author{
	color: var(--nv-text-color)!important;
  }
}

.llms-lesson-preview .llms-lesson-link {
  background: var(--nv-light-bg);
  color: var(--nv-text-color) !important;
  &:hover{
	background: var(--nv-light-bg);
	color: var(--nv-text-color);
  }
}

.llms-table {
  tbody tr:nth-child(odd) {
	td, th {
	  background: var(--nv-light-bg);
	}
  }
  tfoot tr {
	background: var(--nv-light-bg);
  }
}

.orders-table tbody tr:nth-child(even) td,
.llms-student-dashboard .orders-table tbody tr:nth-child(even) th {
  background: var(--nv-light-bg)!important;
}

.llms-notification {
  background: var(--nv-light-bg)!important;
  .llms-notification-body .llms-mini-cert{
	background: var(--nv-light-bg)!important;
  }
}

.llms-form-field .select2-container .select2-selection--single{
  background: var(--formfieldbgcolor);
  border-style: solid;
  border-color: var(--formfieldbordercolor);
  border-width: var(--formfieldborderwidth);
}

.lifterlms .select2-container--default .select2-selection--single .select2-selection__rendered,
.llms-sd-notification-center .llms-notification .llms-notification-date{
  color: var(--nv-text-color);
}

.llms-checkout {
  background: none;
}

#llms-voucher-code {
  display: block;
}

.llms-instructor-info .llms-instructors .llms-author,
.llms-quiz-ui,
.llms-achievement, .llms-certificate,
.llms-access-plan .llms-access-plan-footer, .llms-access-plan .llms-access-plan-content,
.select2-search--dropdown, .select2-results,
.llms-sd-widgets .llms-sd-widget {
  background: var(--nv-light-bg);
}

td .llms-progress .llms-progress-bar{
  background-color: var(--nv-light-bg);
  border: 1px solid;
}

.llms-progress .progress-bar-complete{
	background-color: var(--llmsprimarycolor,var(--nv-primary-accent));
}

.llms-donut{
  color: var(--llmsprimarycolor,var(--nv-primary-accent));
  svg path{
	stroke: var(--llmsprimarycolor,var(--nv-primary-accent));
  }
}

.llms-certificate-container{
  color: #000;
}
