@import "./components/main/extends";

.llms-loop-list {
  padding: 0!important;
}

.llms-sd-section-footer{
  margin-bottom: 25px;
}

.llms-pagination {
  margin: 10px auto;
  ul{
	list-style-type: none;
	padding: 0;
	li .page-numbers {
	  text-decoration: none;
	  display: inline-block;
	  padding: 12px 15px;
	}
  }
}

.llms-button-primary, .llms-button-action {
  display: inline-block;
  @extend %nv-button-primary;
  &:hover {
	@extend %nv-button-primary-hover;
  }
}

.llms-button-secondary {
  display: inline-block;
  @extend %nv-button-secondary;
  &:hover {
	@extend %nv-button-secondary-hover;
  }
}

.llms-loop-item-footer {
  .avatar, .llms-author-info {
	vertical-align: middle;
  }
}

.llms-choice > label {
  width: 100%;
}

.single-course {
  .review_box {
	background-color: var(--nv-light-bg);
	padding: 40px;

	input:read-write, textarea {
	  max-width: 100%;
	  width: 100%;
	  display: block;
	  @extend %nv-form-fields;
	}

	textarea {
	  height: 200px;
	}
  }

  .llms-lesson-counter {
  	display: inline-block;
  	margin-bottom: 0;
  }
}

.llms-course-nav .llms-lesson-preview {
  width: 100%;
}
