.neve-responsive-sizing button.link {
    min-height: 40px;
}

.neve_page_neve-custom-layout-upsell, .post-type-neve_custom_layouts {
    .cl-modal, .cl-header-container {
        .button {
            .dashicons {
                line-height: 1;
            }
            &.button-link {
                border: none;
            }
        }
    }

    .type-neve_custom_layouts {
        button .dashicons {
            line-height: 1;
        }
    }
}