.neve-responsive-sizing button.link {
    min-height: 40px;
}

.wp-core-ui .button .dashicons,
.wp-core-ui .button-primary .dashicons,
.wp-core-ui .button-secondary .dashicons {
    line-height: 1;
}

.wp-core-ui .button-link,
.wp-core-ui .button.button-link {
    border: none;
}