.neve-meta-control{
  margin-bottom: 10px;
}

.neve-meta-radio-image{
  input[type="radio"]{
    display: none;
    &:checked+label{
      border-color: #00b6ff;
      box-shadow: 0 0 5px #3ec8fe;
    }
  }
  .components-base-control__field{
    display: flex;
  }
  .components-radio-control__option {
    border: 1px solid #d6d6d6;
    margin: 0 2.5px;
    label{
      display: inline-flex;
    }
  }
}
