.nav-toggle-label {
  margin-right: 5px;
  line-height: 100%;
}

.navbar-toggle-wrapper {
  align-items: center;
}

.navbar-toggle {
  background: 0;
  border: 1px solid;

  &:hover {
	border: 1px solid;
	background: transparent;
  }
}

.icon-bar {
  transition: all .1s ease;
  position: relative;
  display: block;
  width: 15px;
  height: 2px;

  &:nth-child(2) {
	margin: 3px 0;
  }
}

.is-menu-sidebar .navbar-toggle {
  .icon-bar:nth-child(1) {
	transform: rotate(45deg);
	top: 5px;
  }

  .icon-bar:nth-child(2) {
	opacity: 0;
  }

  .icon-bar:nth-child(3) {
	transform: rotate(-45deg);
	bottom: 5px;
  }
}
