@import "../../main/variables";

.site-logo {
	align-items: center;
	display: flex;

	img {
		max-width: var(--maxwidth);
		display: block;
		margin: 0 auto;

		&[src$=".svg"] {
			width: var(--maxwidth);
		}
	}

	.title-with-logo {
		display: flex;
		flex-direction: row;
		align-items: center;

		> *:first-child {
			margin-right: 10px;
		}
	}

	h1,
	p {
		font-size: 24px;
		font-weight: var(--h1fontweight);
		line-height: var(--bodylineheight);
		letter-spacing: var(--bodyletterspacing);
		text-transform: var(--texttransform, var(--bodytexttransform));
		margin: 0;
	}

	small {
		display: block;
	}
}
