.nav-toggle-label {
	line-height: 1;
	margin: var(--label-margin, 0 5px 0 0);
}

.navbar-toggle-wrapper {
	align-items: center;
}

.navbar-toggle {
	--primarybtncolor: var(--color);
	--primarybtnhovercolor: var(--color);
	--primarybtnbg: var(--bgcolor, transparent);
	--primarybtnhoverbg: var(--bgcolor, transparent);
	--primarybtnborderwidth: var(--borderwidth, 1px);
	--primarybtnborderradius: var(--borderradius, 0);
	padding: var(--padding, 10px 15px);
	box-shadow: none;
	display: flex;
	align-items: center;

	&:focus {
		outline: 1px solid;
	}
}

.icon-bar {
	background-color: currentColor;
	transition: all 0.1s ease;
	position: relative;
	display: block;
	width: 15px;
	height: 2px;

	&:nth-child(2) {
		margin: 3px 0;
	}
}

.is-menu-sidebar .navbar-toggle {

	.icon-bar:nth-child(1) {
		transform: rotate(45deg);
		top: 5px;
	}

	.icon-bar:nth-child(2) {
		opacity: 0;
	}

	.icon-bar:nth-child(3) {
		transform: rotate(-45deg);
		bottom: 5px;
	}
}
