.card.plugin {
  padding: 0;
  max-width: 100%;

  .card-header {
    img {
      width: 100%;
      max-width: 100%;
      border-bottom: 1px solid $grey;
    }
  }

  .card-body {
    padding: 20px;

    .card-title {
      margin: 0 0 20px;
      line-height: 150%;
    }
  }

  .card-footer {
    border-top: 1px solid $grey;
    padding: 20px 15px 20px 20px;
    display: flex;
    align-items: center;
		margin-top: auto;

    .plugin-data {
      font-size: 14px;
      color: #616161;
      display: flex;
      align-items: center;
    }
  }

  .version {
    margin-right: 5px;
  }

  .author {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .plugin-action {
    margin-left: auto;
    .dashicon {
      margin-right: 5px;
      animation-name: spin;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .premium-label{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: var(--wp-admin-theme-color);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

}

@mixin plugins--desktop() {
  .plugin.card {
    flex-grow: 1;
    max-width: calc(50% - 15px);
		align-self: unset;

    &:nth-child(2n-1) {
      margin-right: 30px;
    }
  }
  .tab-content.plugins {
    flex-wrap: wrap;
  }
}
