@import "../../main/variables";

body.woocommerce-account {

	.woocommerce-form-login {
		display: grid;
		gap: 10px;

		.form-row:nth-child(3) {
			display: flex;
			flex-direction: column;

			* {
				margin-right: 0;
			}
		}

		[class*="rememberme"] {
			margin-bottom: 10px;
		}

		p {
			margin: 0;
		}
	}

	.woocommerce {

		nav {

			ul {
				border: 2px solid var(--nv-light-bg);
				border-radius: 8px;
				overflow: hidden;
				display: grid;
				list-style: none;
				padding: 0;
				margin: 0 0 $spacing-xl;
			}

			li {
				margin: 0;
			}

			a {
				display: block;
				margin-top: -1px;
				padding: $spacing-sm $spacing-md;
				border-bottom: 2px solid var(--nv-light-bg);
				text-decoration: none;
			}

			li:last-child a {
				border-bottom: 0;
			}

			.is-active {
				border-left: 5px solid var(--nv-primary-accent);

				a {
					color: var(--nv-primary-accent);
				}
			}
		}
	}

	.lost_password {
		text-align: center;
		font-size: 0.9em;
	}

	h2 {
		--h2fontsize: var(--h3fontsize);
	}

	.my_account_orders {
		font-size: var(--bodyfontsize);
	}

	table {
		border: 0 !important;
		--primarybtnfs: 0.9em;
		--primarybtnpadding: 5px 20px;

		td {
			border: 0 !important;
		}

		th,
		td {
			padding: $spacing-xs $spacing-xs !important;

			&:last-child {
				text-align: right;
			}
		}

		thead th {
			border-bottom: $base-border;
			font-size: $text-lg;
		}

		&.order_details {

			tfoot th,
			td {
				border: 0;
			}
		}
	}
}
