@import "../../main/variables";


body.woocommerce-account {

	.nv-content-wrap > .woocommerce {
		display: flex;
		flex-direction: column;
	}

	.woocommerce > h2 {
		font-size: var(--h4fontsize);
		margin-bottom: 0;
	}

	.woocommerce-form-login .form-row:nth-child(3) {
		flex-direction: row-reverse;
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}

	nav > ul {
		list-style: none;
		padding: 0;
		margin-bottom: $spacing-xl;

		.is-active a {
			color: var(--nv-text-color);
		}
	}

	.woocommerce-LostPassword {
		margin: 0;
		display: flex;
		justify-content: flex-end;
	}

	h2 {
		--h2fontsize: var(--h3fontsize);
	}

	table.my_account_orders {
		font-size: var(--bodyfontsize);
	}

	table {
		border: 0 !important;
		--primarybtnfs: 0.9em;
		--primarybtnpadding: 8px 30px;

		td {
			border: 0 !important;
		}

		th,
		td {
			padding: $spacing-md $spacing-sm !important;

			&:last-child {
				text-align: right;
			}
		}

		thead th {
			border-bottom: $base-border;
			font-size: $text-lg;
		}

		&.order_details {

			tfoot th,
			td {
				border: 0;
			}
		}
	}
}

@mixin account--tablet() {

	body.woocommerce-account {

		nav > ul {
			display: flex;
			width: 100%;
			flex-wrap: wrap;

			li {
				margin: 0 $spacing-md 0 0;
			}
		}

		.woocommerce-MyAccount-navigation {
			width: 100%;
		}

		.woocommerce-MyAccount-content {
			width: 100%;
			float: none;
		}
	}
}

