.ajax_add_to_cart,
.single_add_to_cart_button {

	&.added {
		display: none !important;
	}
}

.woocommerce {

	a.added_to_cart {
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		padding: var(--secondarybtnpadding);
	}

	li a.added_to_cart {
		display: inline-block;
		margin-top: 1em;
	}
}

.button.button-secondary.more-details,
.woocommerce .price_slider_amount button.button,
a.added_to_cart,
.checkout_coupon button.button,
.woocommerce table.cart td.actions .input-text#coupon_code + .button,
.woocommerce-mini-cart__buttons.buttons a.button.wc-forward:not(.checkout) {

	@extend %nv-button-secondary;
	box-shadow: var(--secondarybtnshadow, none);

	&:hover {

		@extend %nv-button-secondary-hover;
		box-shadow: var(--secondarybtnhovershadow, none);
	}
}


.woocommerce ul.products li.product .button {
	white-space: normal;
}


// === Ajax add to cart loading === //
/* stylelint-disable */
.woocommerce {

	.button.loading {
		justify-content: center;
		display: inline-flex !important;
		padding-right: 15px !important;

		&::after {
			margin-left: 5px;
			position: unset !important;
		}
	}
}

// === Primary Buttons === //
#review_form #respond input#submit,
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {

	@extend %nv-button-primary;
	box-shadow: var(--primarybtnshadow, none);

	&:hover {

		@extend %nv-button-primary-hover;
		box-shadow: var(--primarybtnhovershadow, none);
	}
}


// === Alt disabled buttons === //
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled[disabled] {

	@extend %nv-button-primary;
	box-shadow: var(--primarybtnshadow, none);

	&:hover {

		@extend %nv-button-primary-hover;
		box-shadow: var(--primarybtnhovershadow, none);
	}
}
