@import "../../main/variables";

//<editor-fold desc="Remove button">
.woocommerce a.remove {
  color: var(--nv-text-color) !important;
  margin: 0;
}

//</editor-fold>


//<editor-fold desc="Coupon code">
.woocommerce table.cart td.actions .input-text#coupon_code {
  width: 200px;
  float: none;
  flex-grow: 1;
  max-height: unset;

  + .button {
	float: none;
	width: 100%;
	@extend %nv-button-secondary;
  }
}

.woocommerce-cart table.cart td.actions .coupon {
  display: flex;
}

//</editor-fold>


//<editor-fold desc="Product thumbnail">
.product-thumbnail img {
  width: 60px !important;
}

//</editor-fold>
.woocommerce a.button.checkout-button.alt {
  margin: 0 20px;
  display: block;
}

.woocommerce table.shop_table.cart {
  border: 0;

  a {
	color: var(--nv-text-color);
  }

  tr {
	border-bottom: 2px solid var(--nv-text-color);
	padding: $spacing-md 0;

	&:last-child {
	  border: 0;
	}
  }

  thead tr {
	border: 0;
  }

  td {
	background: transparent !important;
	padding: $spacing-xs 0;
	border: 0;

	&:before {
	  vertical-align: middle;
	}
  }

  td.actions {
	padding: $spacing-xl 0;
  }

  .product-remove {
	float: left;
  }

  .product-thumbnail {
	display: block !important;

	&:before {
	  content: none;
	}
  }

  thead th {
	font-size: var(--h4FontSize);
	border: 0;
  }

  tr:last-child {

	.button {
	  --secondaryBtnPadding: 15px 40px;
	  --primaryBtnPadding: 15px 40px;
	}
  }
}

.product-name {
  .variation {
	margin-top: $spacing-xs;
	font-size: $small-text;
	opacity: .75;
	dt {
	  font-weight: 300;
	}
  }
}

@mixin cart--tablet() {
  .product-thumbnail img {
	width: 120px !important;
  }

  .woocommerce table.shop_table.cart {
	border-collapse: collapse;
	padding: 0;

	th, td {
	  padding: 15px 10px;

	  &:last-child {
		text-align: right;
	  }
	}

	.product-thumbnail {
	  width: 140px;
	  display: table-cell !important;
	}

	.product-remove {
	  float: none;
	}
  }
}

@mixin cart--laptop() {
  .woocommerce table.shop_table.cart {
	thead th {
	  border: 0;
	}

	tbody tr:first-child {
	  border-top: none;
	}

	.remove {
	  margin: 0 auto;
	  font-size: 30px;
	}
  }
  .woocommerce-cart table.cart td.actions .coupon {
	margin-bottom: 0;
  }
  .woocommerce .cart_totals table.shop_table tbody {
	th, td {
	  vertical-align: top;
	  border-bottom: 0;
	  border-top: $muted-border;
	}

	#shipping_method {
	  margin-top: 0;
	}
  }
}

.woocommerce .quantity .qty {
  box-sizing: content-box;
}


//<editor-fold desc="Cart totals table">
.woocommerce .cart_totals {

  > h2 {
	margin-bottom: 0;
	font-size: 1em;
	padding: 9px 12px;
	background-color: var(--nv-light-bg);
  }

  table.shop_table {
	margin-bottom: 0;
	border: none;

	tbody {
	  font-size: .85em;

	  th, td {
		font-weight: 400;
		vertical-align: top;
		border-bottom: 0;
		border-top: 1px solid #f0f0f0;
	  }
	}

	.shipping-calculator-form {
	  text-align: left;
	}

	.order-total {
	  font-size: 1.18em;

	  th {
		font-weight: bold;
	  }
	}
  }

  .wc-proceed-to-checkout {
	border-top: $muted-border;
  }

  .form-row {
	padding: 5px 0;
  }

  ul#shipping_method {
	text-align: left;

	.shipping-method-description {
	  margin: 0 0 0 5px;
	}

	li {
	  display: flex;
	  align-items: center;
	  flex-wrap: wrap;
	  margin-bottom: $spacing-sm;

	  input {
		margin: 0 5px 0 0 !important;
	  }

	  label {
		margin: 0;
	  }
	}
  }
}

.shipping-calculator-form p:not(:last-child) {
  margin-bottom: $spacing-xs;
}

//</editor-fold>

.cross-sells {
  border: $muted-border;
  margin-bottom: $spacing-md;

  > h2 {
	margin-bottom: 0;
	font-size: 1em;
	padding: 9px 12px;
	background-color: var(--nv-light-bg);
  }

  ul.products {
	padding: 12px 12px 0;
	margin-bottom: 0;

	.product {
	  margin-bottom: $spacing-xs !important;
	}
  }
}
