@import "../../main/variables";
//<editor-fold desc="On Sale Badge">
.woocommerce {
  span.onsale {
	background-color: $success;
	border-radius: 0;
	line-height: inherit;
	min-height: auto;
	left: 0;
	top: 0;
	font-weight: 500;
  }

  ul.products li.product .onsale {
	top: 0;
	left: 0;
	right: auto;
	margin: 0;
  }
}

//</editor-fold>

//<editor-fold desc="Pagination">
.woocommerce nav.woocommerce-pagination ul {
  display: flex;
  border: none;
  margin: 0;

  li {
	margin-right: $spacing-md;
	border: none;

	a, span {
	  background: var(--nv-light-bg);
	  border-radius: 3px;
	  padding: 12px 15px;
	  color: var(--nv-text-color);
	}

	a:focus,
	a:hover,
	span.current {
	  background: var(--nv-dark-bg);
	  color: var(--nv-text-dark-bg);
	}
  }
}

//</editor-fold>

//<editor-fold desc="Rating">
.woocommerce {
  .star-rating {
	color: #ffb100;
  }
}

//</editor-fold>

// === Woo blocks === //
.nv-content-wrap ul.wc-block-grid__products {
  list-style-type: none;
  padding-left: 0;
}
//</editor-fold>

.woocommerce .blockOverlay {
  background-color: var(--nv-site-bg) !important;
}
