@import "../../main/variables";
@import "./single/reviews";
@import "./single/exclusive-products";

.woocommerce.single .nv-woo-filters {
  display: none;
}

.woocommerce.single {
  .entry-summary, #tab-description {
	ul {
	  list-style-type: circle;
	}

	ul, ol {
	  padding-left: $spacing-sm;
	  margin-bottom: $spacing-sm;

	  li {
		margin-bottom: $spacing-xs;
	  }
	}
  }

  .quantity input {
	padding-right: 4px !important;
	padding-left: 4px !important;
	box-sizing: border-box;
	line-height: normal;
  }

  .woocommerce-variation-add-to-cart {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  }

  .entry-summary > form.cart {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 2px solid var(--nv-text-color);
	margin-bottom: $spacing-lg;
	padding-bottom: $spacing-md;

	.single_variation_wrap {
	  width: 100%;
	}

	.wc-forward {
	  margin-left: 4px;
	  flex-basis: 50%;
	}

	&.grouped_form {
	  flex-wrap: wrap;
	}

	.group_table td {
	  vertical-align: middle;

	  label {
		margin-bottom: 0;
	  }
	}

	.woocommerce-variation-add-to-cart {
	  display: flex;
	  align-items: center;
	}

	.woocommerce-grouped-product-list {
	  width: 100%;
	}
  }
}

.single_add_to_cart_button {
  width: auto;
  flex-grow: 1;
}

.product_meta {
  font-size: $small-text;

  a {
	color: var(--nv-text-color);
  }

  > span {
	font-size: $small-text;
	margin-top: $spacing-md;
	display: block;
  }
}

.woocommerce-review-link {
  color: var(--nv-text-color);
  font-size: .85em;
}

.woocommerce-notices-wrapper {
  width: 100%;
}

//<editor-fold desc="Prices">
.woocommerce {
  ul.products li.product .price ins,
  ul.products li.product .price,
  div.product span.price,
  div.product p.price,
  li.product ins, {
	color: var(--nv-text-color);
	font-weight: 400;
  }
}

.woocommerce-variation-price {
  margin-bottom: $spacing-md;
}

//</editor-fold>

//<editor-fold desc="Variations">
.woocommerce {
  tr:hover {
	background: inherit;
  }

  div.product form.cart .variations {
	td {
	  padding: 0;
	  display: block;
	  width: 100%;

	  &.label {
		padding: 0;
	  }
	}

	tr:not(:last-child) {
	  margin-bottom: $spacing-xs;
	  display: block;
	}
  }

  .reset_variations {
	display: block;
  }
}

.variations select {
  width: 100%;
  height: auto;
}

//</editor-fold>

//<editor-fold desc="Content Tabs">
.woocommerce-tabs {
  margin: $spacing-xl 0 $spacing-xl;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background: transparent;
  border: 0;
  margin: 0 $spacing-xl 0 0;
  padding: 0;

  &:before, &:after {
	content: none;
  }

  &.active {
	color: var(--nv-primary-accent);
	background-color: transparent;
	border-bottom: 3px solid;
  }

  a {
	color: var(--nv-text-color);
  }
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs {
  margin-bottom: $spacing-xl;
  padding: 0;
  border: 0;

  &:before {
	content: none;
  }
}

//<editor-fold desc="Gallery">
.woocommerce div.product div.images .flex-control-thumbs {
  margin: 5px -5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
	padding: 5px;
  }
}

.woocommerce-product-gallery {
  float: none !important;
  display: inline-block;
}
.woocommerce-product-gallery {
  float: none !important;
  display: inline-block;
}

//</editor-fold>

@mixin product--tablet() {
  .single_add_to_cart_button {
	flex-grow: 0;
  }
}

@mixin product--laptop() {
  body.single-product .neve-main > .container > .row {
	flex-wrap: wrap;
  }

  .woocommerce.single {
	.entry-summary > form.cart {
	  .wc-forward {
		flex-basis: auto;
	  }
	}
  }
}

.woocommerce ul.products.exclusive-products li.product,
.woocommerce-page ul.products.exclusive-products li.product {
  margin: 0;
  clear: none;
}
