@import "../../main/variables";

.nv-sidebar-wrap.shop-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  height: 100vh;
  overflow: auto;
  transition: all 0.3s ease-out;
  background-color: var(--nv-site-bg);
  transform: translateX(-100%);

  &.sidebar-open {
	transform: translateX(0)
  }
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-md;
}

@mixin shop-sidebar--laptop() {
  .nv-sidebar-toggle {
	display: none;
  }

  .nv-sidebar-wrap.shop-sidebar {
	background: transparent;
	position: static;
	overflow: visible;
	max-width: 30%;
	transform: none;
	z-index: unset;

	.sidebar-header {
	  display: none;
	}
  }
}
