@import "../../main/variables";

.shop-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 100000;
	height: 100vh;
	overflow: auto;
	width: 100%;
	transition: all 0.3s ease-out;
	background-color: var(--nv-site-bg);
	transform: translateX(-100%);

	&.sidebar-open {
		transform: translateX(0);
	}
}

.sidebar-header {
	display: flex;
	justify-content: flex-end;
	margin-bottom: $spacing-md;

	.nv-sidebar-toggle {

		@extend %nv-button-secondary;
	}
}

.nv-woo-filters {

	.nv-sidebar-toggle {
		margin-right: 20px;
	}
}

@mixin shop-sidebar--laptop() {

	.nv-sidebar-toggle {
		display: none;
	}

	.shop-sidebar {
		height: auto;
		background: transparent;
		position: static;
		overflow: visible;
		max-width: 30%;
		transform: none;
		z-index: unset;

		.sidebar-header {
			display: none;
		}
	}
}

body:not(.nv-left-gallery):not(.sp-slider-gallery):not([class^="related-products-columns-"]) {

	.tns-ovh {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.tns-inner {
		overflow: hidden;
	}

	.tns-visually-hidden {
		display: none;
	}

	/* Make WooCommerce gallery vertical on desktop */
	@media (min-width: 992px) {

		div.product {

			.onsale {
				left: 110px;
			}

			div.images {
				display: flex;
				flex-direction: row-reverse;
				gap: 10px;

				.tns-ovh {
					width: 100px;
					flex-direction: column;
					position: relative;

					.dashicons {
						position: absolute;
						z-index: 1;
						color: var(--nv-text-color);
						width: 100px;
						text-align: center;

						&.prev {
							top: 0;
						}

						&.next {
							bottom: 0;
						}

						&:hover {
							background-color: var(--nv-site-bg);
						}
					}
				}

				.flex-viewport {
					width: calc(100% - 100px);
				}

				.flex-control-nav {
					display: flex;
					flex-direction: column;
					width: 100px;
					margin-top: -5px;

					li {
						width: 100px;
					}
				}
			}
		}
	}

	/* On mobile, keep horizontal layout */
	@media (max-width: 991px) {

		div.product {

			div.images {

				.flex-control-nav {
					flex-direction: row;
					width: auto;
					max-height: none;
					display: flex;
				}
			}
		}
	}
}
