.notice.neve-welcome-notice {
    text-align: center;
}
.notice.neve-welcome-notice h2 {
    font-size: 21px;
    margin: 30px 0;
}
.notice.neve-welcome-notice p {
    font-size: 16px;
    margin: 0;
}
.notice.neve-welcome-notice .neve-button-wrapper {
    display: block;
    padding: 30px 0;
}