.gutenberg-editor-page .editor-styles-wrapper {
  font-size: 100%;
  font-weight: normal;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #404248;
}
.gutenberg-editor-page .editor-styles-wrapper, .gutenberg-editor-page .editor-styles-wrapper p {
  line-height: 1.68421;
}
.gutenberg-editor-page .editor-styles-wrapper strong {
  font-weight: bold;
}
.gutenberg-editor-page .editor-styles-wrapper h1, .gutenberg-editor-page .editor-styles-wrapper h2, .gutenberg-editor-page .editor-styles-wrapper h3, .gutenberg-editor-page .editor-styles-wrapper h4, .gutenberg-editor-page .editor-styles-wrapper h5, .gutenberg-editor-page .editor-styles-wrapper h6 {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.68421;
  margin: 0 0 0.8rem 0;
  font-weight: 600;
  color: #404248;
}
.gutenberg-editor-page .editor-styles-wrapper h1 {
  font-size: 1.5em;
}
.gutenberg-editor-page .editor-styles-wrapper h2 {
  font-size: 1.3em;
}
.gutenberg-editor-page .editor-styles-wrapper h3 {
  font-size: 1.1em;
}
.gutenberg-editor-page .editor-styles-wrapper h4 {
  font-size: 1em;
}
.gutenberg-editor-page .editor-styles-wrapper h5 {
  font-size: 0.75em;
}
.gutenberg-editor-page .editor-styles-wrapper h6 {
  font-size: 0.75em;
}
.gutenberg-editor-page .editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #404248;
  line-height: 1.3em;
}
.gutenberg-editor-page .editor-styles-wrapper ul, .gutenberg-editor-page .editor-styles-wrapper ol {
  padding-left: 20px;
  margin: 20px 0;
}
.gutenberg-editor-page .editor-styles-wrapper ul li, .gutenberg-editor-page .editor-styles-wrapper ol li {
  line-height: 2em;
  margin-bottom: 10px;
}
.gutenberg-editor-page .editor-styles-wrapper ul {
  list-style-type: circle;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote {
  border: none;
  text-align: center;
  margin: 40px 0;
  padding: 0;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote p:not(.wp-block-quote__citation) {
  font-size: 1.1em;
  margin-bottom: 0;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote .wp-block-quote__citation {
  padding-top: 20px;
  display: block;
  color: #777777;
  margin-top: 0;
  font-size: .95em;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote:after, .gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote:before {
  height: 3px;
  width: 60px;
  background-color: #c9c9c9;
  content: " ";
  display: block;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote:before {
  margin: 0 auto 40px;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote:after {
  margin: 40px auto 0;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote > * {
  margin-bottom: 0;
}
.gutenberg-editor-page .editor-styles-wrapper blockquote.wp-block-quote.is-style-large p:not(.wp-block-quote__citation) {
  font-size: 1.75em;
}
.gutenberg-editor-page .editor-styles-wrapper table {
  width: 100%;
  margin: 20px 0;
}
.gutenberg-editor-page .editor-styles-wrapper table td, .gutenberg-editor-page .editor-styles-wrapper table th {
  line-height: 1.68421;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.gutenberg-editor-page .editor-styles-wrapper table tbody tr:hover {
  background-color: #fbfbfb;
}
.gutenberg-editor-page .editor-styles-wrapper table .wp-block-table__cell-content {
  padding: 0;
}
.gutenberg-editor-page .editor-styles-wrapper .wp-block-preformatted pre {
  display: block;
  padding: 20px;
  background: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  margin: 20px 0;
  white-space: pre-wrap;
  font-size: 0.9em;
  line-height: 2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: monospace;
  color: #404248;
}
.gutenberg-editor-page .editor-styles-wrapper a {
  color: #0366d6;
  text-decoration: none;
}
.gutenberg-editor-page .editor-styles-wrapper a:hover {
  color: #0366d6;
  text-decoration: underline;
}
.gutenberg-editor-page .editor-styles-wrapper .editor-rich-text__tinymce code {
  background: #d0effb;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  font-family: monospace;
  padding: 0;
}

.gutenberg-editor-page #wpwrap .editor-styles-wrapper.neve-has-meta .wp-block.editor-post-title__block:after {
  content: ' ';
  width: 245px;
  height: 12px;
  display: block;
  left: 14px;
  position: relative;
  top: -12px;
  background: linear-gradient(90deg, #e7e7e7 0%, #e7e7e7 6%, #fff 6.01%, #fff 7.5%, #e7e7e7 7.51%, #e7e7e7 24%, #fff 24.01%, #fff 26%, #e7e7e7 26.01%, #e7e7e7 43%, #fff 43.01%, #fff 45%, #e7e7e7 45.01%, #e7e7e7 75%, #fff 75.01%, #fff 77%, #e7e7e7 77.01%);
}

.gutenberg-editor-page #wpwrap .editor-styles-wrapper .wp-block {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.gutenberg-editor-page #wpwrap .editor-styles-wrapper .wp-block .editor-block-list__layout {
  padding: 0 !important;
}
.gutenberg-editor-page #wpwrap .editor-styles-wrapper .wp-block[data-align=full], .gutenberg-editor-page #wpwrap .editor-styles-wrapper .wp-block[data-align=wide] {
  padding-left: 0;
  padding-right: 0;
}

.neve-gtb-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  padding: 10px;
  max-width: 30%;
  flex-grow: 1;
}
.neve-gtb-sidebar.sidebar-hidden {
  display: none;
}

.editor-styles-wrapper .neve-gtb-sidebar > p {
  font-size: 32px;
  font-weight: 600;
  color: #777;
}

.gutenberg-editor-page #wpwrap .editor-styles-wrapper .neve-gtb-flow-wrap {
  display: flex;
  margin: 0 auto;
}
.gutenberg-editor-page #wpwrap .editor-styles-wrapper .neve-gtb-flow-wrap .editor-writing-flow {
  max-width: 70%;
  flex-grow: 1;
  margin: 0 auto;
}
.gutenberg-editor-page #wpwrap .editor-styles-wrapper .neve-gtb-flow-wrap.has-sidebar-left .editor-post-title,
.gutenberg-editor-page #wpwrap .editor-styles-wrapper .neve-gtb-flow-wrap.has-sidebar-left .editor-block-list__layout {
  padding: 0 0 0 25px;
}
.gutenberg-editor-page #wpwrap .editor-styles-wrapper .neve-gtb-flow-wrap.has-sidebar-right .editor-post-title,
.gutenberg-editor-page #wpwrap .editor-styles-wrapper .neve-gtb-flow-wrap.has-sidebar-right .editor-block-list__layout {
  padding: 0 25px 0 0;
}

@media (min-width: 576px) {
  .neve-gtb-flow-wrap {
    max-width: 540px;
  }
}
@media (min-width: 769px) {
  .neve-gtb-flow-wrap {
    max-width: 720px;
  }

  .gutenberg-editor-page #wpwrap .editor-styles-wrapper {
    font-size: 16px;
  }
  .gutenberg-editor-page #wpwrap .editor-styles-wrapper h1, .gutenberg-editor-page #wpwrap .editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
    font-size: 2em;
  }
  .gutenberg-editor-page #wpwrap .editor-styles-wrapper h2 {
    font-size: 1.75em;
  }
  .gutenberg-editor-page #wpwrap .editor-styles-wrapper h3 {
    font-size: 1.5em;
  }
  .gutenberg-editor-page #wpwrap .editor-styles-wrapper h4 {
    font-size: 1.25em;
  }
  .gutenberg-editor-page #wpwrap .editor-styles-wrapper h5 {
    font-size: 1em;
  }
  .gutenberg-editor-page #wpwrap .editor-styles-wrapper h6 {
    font-size: 1em;
  }
}
@media (min-width: 960px) {
  .neve-gtb-flow-wrap {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .neve-gtb-flow-wrap {
    max-width: 1140px;
  }
}

/*# sourceMappingURL=gutenberg-editor-style.css.map */
