.hfg-is-group {
  display: flex;
  align-items: center;
}

$component-alignments: (
        'right' : flex-end,
        'left' : flex-start,
        'center': center,
);

@each $alignment, $flex-setting in $component-alignments {
  .hfg-is-group.hfg-item-#{$alignment} {
    justify-content: $flex-setting;
  }
  .hfg-item-#{$alignment} {
    text-align: #{$alignment};

    #secondary-menu, .nv-nav-wrap, .component-wrap, .site-logo, .nv-search-icon-component .nv-search, .builder-item--footer-menu {
      justify-content: $flex-setting;
    }
  }
}
