.hfg-is-group {
  display: flex;
  align-items: center;
}

$component-alignments: (
        'right' : flex-end,
        'left' : flex-start,
        'center': center,
);

@each $alignment, $flex-setting in $component-alignments {
  .hfg-is-group.hfg-item-#{$alignment} {
    justify-content: $flex-setting;
  }
  .hfg-item-#{$alignment} {
    text-align: #{$alignment};

		#secondary-menu, .primary-menu-ul, .nv-nav-wrap, .component-wrap, .site-logo, .nv-search-icon-component, .builder-item--footer-menu {
      justify-content: $flex-setting;
    }
  }
}

.hfg-item-justify .button {
  flex-grow: 1;
}

$component-v-alignments: (
		'top' : flex-start,
		'bottom': flex-end,
);

@each $alignment, $align-self in $component-v-alignments  {
  .hfg-item-v-#{$alignment} {
	align-self: $align-self;
  }
}
