//<editor-fold desc="Force footer items to 100%">
@media( max-width: 960px ) {
  .footer--row  .builder-item {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    margin-left: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .nv-footer-content {
    flex-wrap: wrap;
  }
}
//</editor-fold>

.site-footer {
  position: relative;
  z-index: 10;
  .item--inner:not([class*="widgets"]):not([class*=copyright]):not([class*=social]) {
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
  }
}


// Footer Top
.footer-top {

  .light-mode {
    background: #fff;
  }
  .dark-mode {
    background: #292929;
  }
}

// Footer Main
.footer-main {
  .footer--row-inner {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .light-mode {
    background: #f9f9f9;
  }
  .dark-mode {
    background: #24292e;
  }
}

// Footer Bottom
.footer-bottom {
  .light-mode {
    background: #ededed;
  }
  .dark-mode {
    background: #24292e;
  }
}

// General footer skin mode colors.
.footer--row-inner {
  &.light-mode {
    color: $dark_color;
  }
  &.dark-mode {
    color: $light_color;
    a:not(.button) {
      color: $light_color_link;
      &:hover {
        color: $light_color_link_hover;
      }
    }
    .footer-menu li a {
      color: inherit;
    }
    .product_list_widget li {
      border-color: $light_color_border;
    }
    table tbody td,
    table th {
      background: $dark_color_border;
    }
  }

}

.footer--row {
  &.layout-fullwidth {
    .hfg-container {
      max-width: initial;
    }
  }
  .builder-item--group {
    justify-content: flex-start;
    .item--inner {
      width: auto;
    }
  }
}

.footer-main, .footer-top, .footer-bottom {
  .builder-item {
    .widget-area {
      .widget {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.site-footer {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul, li {
    list-style: none;
    margin: 0;
  }

  ul ul {
    margin-left: 2.617924em;
  }
}

.footer-copyright {
  font-size: 0.875em;
}
