.header-menu-sidebar {
  padding: 0;
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  z-index: $menu_sidebar_active_z_index;
  visibility: hidden;
  display: flex;
}

.header-menu-sidebar-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    min-height: 100%;
  }
}

.header-menu-sidebar-inner {
  position: relative;
  word-wrap: break-word;
  padding: 1.2em 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* Type: Slide from left */
.menu_sidebar_slide_left {
  .header-menu-sidebar {
    box-shadow: $menu_sidebar_boxshadow;
    width: $menu_sidebar_width;
    left: 0;
    transform: translate3d(- 100%, 0, 0);
    transition: transform .5s cubic-bezier(.79, .14, .15, .86);
  }
}

/* Type: Toggle dropdown */
.menu_sidebar_dropdown {
  .header-menu-sidebar {
    position: relative;
    height: 0;
    display: block;
    visibility: visible;
    z-index: $menu_sidebar_active_z_index;

    .close-sidebar-panel {
      display: none;
    }
  }

  .header-menu-sidebar-bg {
    &:before {
      box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.05);
    }
  }
}

/* Hiding Menu Sidebar animation. */
.hiding-header-menu-sidebar {
  &.menu_sidebar_slide_left {
    .header-menu-sidebar {
      height: 100%;
      transform: translateX(-100%);
      transition: transform .5s cubic-bezier(.79, .14, .15, .86);
    }
  }

  .header-menu-sidebar {
    visibility: visible;
  }
}

/* Showing Menu Sidebar animation. */
/*.is-menu-sidebar {
  overflow-y: hidden;
}*/

.is-menu-sidebar {
  &.menu_sidebar_slide_left {
    width: 100%;
    display: block;

    .header-menu-sidebar {
      z-index: $menu_sidebar_active_z_index;
      height: 100vh;
      transform: translate3d(0, 0, 0);
      left: 0;
      visibility: visible;
    }
  }

  &.menu_sidebar_dropdown {
    .header-menu-sidebar {
      z-index: 10;
      visibility: visible;
      height: auto !important;
      max-height: 450px;
    }
  }
}

.header-menu-sidebar .menu-item-nav-search {
  display: flex;
  align-items: center;
}

.header-menu-sidebar .menu-item-nav-search.responsive-nav-search .nv-nav-search {
  margin-left: 20px;
  position: relative;
  background-color: transparent;
  border: 0;
  display: flex;
  box-shadow: none;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0;
  line-height: 1;

  .close-container {
    position: static;
    top: unset;
    width: 35%;
    padding: 0;
  }

  form input:not([type="submit"]) {
    background-color: #fff;
  }

  input[type="submit"] {
    line-height: 1;
  }

  .nv-icon {
    line-height: 1;
  }
}

/* Close Button */
.header-menu-sidebar {
  .navbar-toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: $menu_sidebar_active_z_index + 10;
    padding: 8px 10px;

    button.navbar-toggle {
      position: relative;
    }
  }
}

/* - Item showing animation  */
.header-menu-sidebar {
  .item--inner {
    transition: transform .3s, opacity .3s;
    transform: translateY(45px);
    opacity: 0;
  }
}

.is-menu-sidebar, .is-mobile-form-panel {
  .header-menu-sidebar {
    .item--inner {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

//<editor-fold desc="Sidebar overlay">
body.menu_sidebar_slide_left {
  .header-menu-sidebar-overlay {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    transform: translate3d(0, 0, 0);
    z-index: $menu_sidebar_active_z_index - 1;
    transition: all .5s linear;
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

body.menu_sidebar_slide_left {
  &.is-menu-sidebar {
    .header-menu-sidebar-overlay {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  &.menu_sidebar_dropdown {
    &:before {
      display: none;
    }
  }
}

//</editor-fold>

