.nv-meta-list {
  padding-bottom: $spacing-xs;
  width: 100%;
  li {
    display: inline;
    color: $gray-color;
    font-size: 0.85em;
    &:not(:last-child):after {
      content: '/';
      padding: 0 5px;
      color: $gray-color;
    }
  }
  a {
    color: $gray-color;
  }
  .posted-on .updated {
    display: none;
  }
  .meta.author {
    display: flex;
    align-items: center;
    .photo {
      display: inline-flex;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .author-name {
      margin-left: 3px;
    }
  }
}
