.nv-meta-list {
	padding-bottom: $spacing-xs;
	width: 100%;

	li, span {
		display: inline;

		&:not(:last-child):after {
			content: '/';
			padding: 0 5px;
		}
	}

	li {
		color: var(--nv-text-color);
		opacity: .7;
		font-size: 0.85em;
	}

	&:not(.nv-dynamic-meta) {
		a, a:hover {
			color: var(--nv-text-color);
		}
	}

	.posted-on .updated {
		display: none;
	}

  	.posted-on.updated-time {
	  .updated {
		display: inline;
	  }
	  .published {
		display: none;
	  }
	}

	.meta.author {
		.photo {
			width: $spacing-sm;
			height: $spacing-sm;
			border-radius: 50%;
			transform: translateY(30%);
		}

		.author-name {
			margin-left: 3px;
		}
	}
}

.nv-dynamic-author-meta {
	.photo {
		width: $spacing-sm;
		height: $spacing-sm;
		border-radius: 50%;
		transform: translateY(30%);
	}
}
