.layout-default, .layout-alternative {
  display: flex;
  align-items: flex-end;
}

@mixin blog-layout-default-alt--laptop() {
  .layout-default, .layout-alternative {
    .article-content-col .content {
      display: flex;
      align-items: center;
    }
  }

  .layout-default .article-content-col .content {
    flex-direction: row;
  }

  .layout-alternative .article-content-col .content {
    flex-direction: row-reverse;
  }

  .non-grid-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    .button {
      align-self: flex-start;
      margin-top: auto;
    }
    .excerpt-wrap {
      padding: $spacing-sm 0;
    }
  }

  .nv-post-thumbnail-wrap ~ .default-layout-content {
    padding-left: $spacing;
  }

  .nv-post-thumbnail-wrap ~ .alternative-layout-content {
    padding-right: $spacing;
  }

  .layout-default, .layout-alternative {
    .nv-post-thumbnail-wrap {
      max-width: 40%;
    }
  }
  article.layout-alternative:nth-child(even) .article-content-col .content {
    flex-direction: row;
     .nv-post-thumbnail-wrap ~ .alternative-layout-content {
    padding: 0 0 0 $spacing;
      }
  }
}