.entry-title {
  word-wrap: break-word;
  font-weight: 600;
  line-height: 1.3em;
  a {
    color: $body-color;
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: .9;
    }
  }
}

.posts-wrapper .excerpt-wrap {
  color: $gray-color;
}

.nv-post-thumbnail-wrap {
  width: 100%;
  a {
    transition: $transition_med;
    &:hover {
      opacity: .95;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.posts-wrapper > article {
  word-break: break-word;
  margin-bottom: $spacing;
}

.blog-entry-title {
  word-wrap: break-word;
}

.article-content-col {
  width: 100%;
}

.article-content-col .content {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: $muted-border;
  display: flex;
  flex-direction: column;
  .button {
    display: inline-block;
    align-self: flex-start;
  }
}

.bypostauthor {
  display: block;
}

.nv-index-posts .posts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.nv-index-posts .page-numbers {
  @include horizontal-list($spacing-xs);
  justify-content: center;
  margin: $spacing-xs auto;
}

article.sticky {
  padding: 0 15px;
  .article-content-col {
    max-width: 100%;
    .content {
      @include soft-box-shadow();
      border-top: $muted-border;
      border-bottom: $muted-border;
      max-width: 100%;
      width: auto;
      padding: 15px;
    }
  }
}

.layout-grid .content {
  > * {
    margin: $spacing-xs 0;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.nv-non-grid-article {
  .non-grid-content {
    display: flex;
    flex-direction: column;
    > * {
      margin: $spacing-xs 0;
      &:last-child {
        margin-bottom: 0;
      }
      &.nv-meta-list {
        margin: 0;
      }
    }
  }
}

@mixin blogpost-index--laptop() {
  .sticky .article-content-col {
    .content {
      margin-right: 15px;
      margin-left: 15px;
      border: $muted-border;
    }
  }
  article.sticky.nv-non-grid-article {
    padding: 0;
  }
}