.nv-meta-list {
  padding-bottom: $spacing-xs;
  width: 100%;
  li {
    display: inline;
    color: $gray-color;
    font-size: 0.85em;
    &:not(:last-child):after {
      content: '/';
      padding: 0 5px;
      color: $gray-color;
    }
  }
  a, a:hover {
    color: $gray-color;
  }
  .posted-on .updated {
    display: none;
  }
  .meta.author {
    .photo {
      width: $spacing-sm;
      height: $spacing-sm;
      border-radius: 50%;
      transform: translateY(30%);
    }
    .author-name {
      margin-left: 3px;
    }
  }
}
