.nv-meta-list {
  @include horizontal-list(0);
  border-bottom: $muted-border;
  padding-bottom: $spacing-xs;
  margin: $spacing-xs 0;
  width: 100%;
  li > span,
  li > a {
    color: #7e7e7e;
    font-size: 0.85em;
  }
  i {
    margin-right: 2px;
    font-size: inherit;
    line-height: inherit;
  }
  li {
    padding-right: $spacing-sm;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .meta .nv-icon:before {
    position: relative;
    margin-right: 5px;
  }
  .meta.category a {
    padding: 0 ($spacing-xs / 2);
  }
}
