.nv-post-thumbnail-wrap {
  width: 100%;
  a {
    transition: $transition_med;
    &:hover {
      opacity: .95;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.posts-wrapper > article {
  margin-bottom: $spacing;
}

.blog-entry-title {
  margin: $spacing-xs 0;
  word-wrap: break-word;
}

.article-content-col {
  width: 100%;
}

.article-content-col .content {
  width: 100%;
  padding-bottom: $spacing;
  border-bottom: $muted-border;
  display: flex;
  flex-direction: column;
  .button {
    display: inline-block;
    align-self: flex-start;
  }
}

.bypostauthor {
  display: block;
}

.nv-index-posts .posts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.nv-index-posts .page-numbers {
  @include horizontal-list($spacing-xs);
  justify-content: center;
  margin: $spacing-xs auto;
}

.sticky .article-content-col {
  max-width: 100%;
  .content {
    @include soft-box-shadow();
    margin-right: $spacing-xs;
    margin-left: $spacing-xs;
    border: $muted-border;
    max-width: 100%;
    width: auto;
    padding: $spacing-sm;
  }
}

.layout-grid .content {
  > * {
    margin: $spacing-xs 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.non-grid-content > {
}

.layout-default, .layout-alternative {
  .non-grid-content > * {
    margin: $spacing-xs 0;
    display: inline-flex;
    &:first-child {
      margin-top: $spacing-xs*2;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin blogpost-index--laptop() {
  .layout-default, .layout-alternative {
    .non-grid-content > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}