.entry-title {
  word-wrap: break-word;

  a {
    color: $body-color;

    &:hover,
    &:focus {
      opacity: .9;
      color: $body-color;
    }
  }
}

.nv-shadow-1{
  .nv-post-thumbnail-wrap{
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}

.nv-shadow-2{
  .nv-post-thumbnail-wrap {
    box-shadow: 0 3px 6px -5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.nv-shadow-3{
  .nv-post-thumbnail-wrap {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.nv-shadow-4{
  .nv-post-thumbnail-wrap {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
  }
}
.nv-shadow-5{
  .nv-post-thumbnail-wrap {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
  }
}
.nv-post-thumbnail-wrap {
  amp-img {
    display: inline-block;
  }

  a {
    transition: $transition_med;

    &:hover {
      opacity: .95;
    }
  }

  img {
    height: auto;
  }
}

.posts-wrapper > article {
  margin-bottom: 30px;
}

.layout-grid .content > .blog-entry-title {
  margin-bottom: 0;
}

.blog-entry-title {
  word-wrap: break-word;
}

.article-content-col {
  width: 100%;
}

.article-content-col .content {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: $muted-border;
  display: flex;
  flex-direction: column;

  .button {
    display: inline-block;
    align-self: flex-start;
  }
}

.bypostauthor {
  display: block;
}

.nv-index-posts .posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
}

.nv-index-posts .page-numbers {
  @include horizontal-list($spacing-xs);
  justify-content: center;
  margin: $spacing-xs auto;
}

.layout-grid .content {
  > * {
    margin: 0 0 $spacing-xs;

    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }

    &.nv-meta-list {
      margin-top: 0;
    }
  }
	.excerpt-wrap > *:last-child{
		margin-bottom: 0;
	}
}

.nv-non-grid-article {
  .non-grid-content {
    display: flex;
    flex-direction: column;

    > * {
      margin: 0 0 $spacing-xs;

      &:last-child {
        margin-bottom: 0;
      }

      &.nv-meta-list {
        margin-top: 0;
      }
    }

    .blog-entry-title {
      margin-bottom: 0;
    }
  }
}

article {
  word-break: break-word;
}

.sticky {
  display: inherit;
}

@mixin blogpost-index--laptop() {
  .non-grid-content > .entry-title {
    margin-top: 0;
  }
}
