#comments {
  border-top: $muted-border;
  padding-top: $spacing-sm;
  margin: $spacing-xs 0 $spacing;
  input:not([type="submit"]), textarea {
    width: 100%;
  }

  .pagination {
    @include horizontal-list($spacing-xs);
    justify-content: center;
  }

  .comments-number {
    border-bottom: $muted-border;
    padding-bottom: $spacing-sm;
    margin-bottom: $spacing-sm;
  }

  .comments-list li {
    margin: $spacing 0;
  }

  cite {
    font-style: normal;
  }

  .avatar {
    border-radius: 50%;
  }

  .comment-meta {
    font-size: .75em;
    margin-bottom: $spacing-xs;
  }
  .children {
    border-left: $muted-border;
    padding-left: $spacing-xs;
  }
}

@mixin comments--laptop() {
  #comments .children {
    padding-left: $spacing;
  }
}