.nv-loader {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid $button_color;
  border-left: 1px solid transparent !important;
  animation: spin;
  -webkit-animation:spin 1s ease infinite;
  -moz-animation:spin 1s ease infinite;
  animation:spin 1s ease infinite;
  margin: 0 auto;
  display: none;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }