.nv-edd a.button,
.nv-edd a.button.edd-add-to-cart,
.nv-edd button.button,
.edd_downloads_list a.button,
.widget_edd_cart_widget .edd_checkout a,
.nv-sidebar-wrap a.edd_go_to_checkout,
.nv-sidebar-wrap .button.edd-add-to-cart {

	@extend %nv-button-primary;
	display: inline-block;

	&:hover {

		@extend %nv-button-primary-hover;
	}
}

.edd_purchase_submit_wrapper a.edd-add-to-cart {
	display: none;
}

.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {
	display: inline-block;
}
