@import "../../../main/variables";

.woocommerce-review-link {
	color: var(--nv-text-color);
	font-size: $text-sm;
}

.woocommerce-Tabs-panel h2 {
	font-size: var(--h4fontsize);
}

.woocommerce {

	#reviews {
		display: grid;
		grid-row-gap: $spacing-xl;

		.comment-form-cookies-consent {
			margin-bottom: $spacing-md !important;

			input {
				display: inline;
			}

			label {
				display: inline;
				margin: 0;
			}
		}

		input[type="text"],
		input[type="email"] {
			width: 100%;
		}
	}

	.stars {
		margin-left: $spacing-xl !important;

		a {
			color: #ffb100;
		}
	}

	.comment-form-rating {
		display: flex;
		align-items: center;

	}

	#reply-title {
		font-size: var(--h4fontsize);
		font-weight: var(--h2fontweight);
		line-height: var(--h2lineheight);
		letter-spacing: var(--h2letterspacing);
		text-transform: var(--h2texttransform);
		margin-bottom: $spacing-lg;
		display: block;
	}
}


.woocommerce #reviews #comments ol.commentlist li {
	margin-bottom: $spacing-xl;

	&:last-child {
		margin-bottom: 0;
	}

	.comment-text {
		padding: 0;
		border: 0;
	}

	img.avatar {
		padding: 0;
		border: 0;
	}

	.meta {
		color: var(--nv-text-color);
		font-size: $text-sm !important;
	}
}


@mixin reviews--laptop() {

	.woocommerce #reviews {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: $spacing-xxl;
	}
}
