.nv-edd #nv-edd-download-archive-container {

	margin: 60px auto;

	#nv-edd-grid-container {
		display: grid;
		gap: var(--grid-cols-spacing, 40px);
		grid-template-columns: repeat(var(--grid-cols, 4), 1fr);
		margin-bottom: 50px;
	}

	#nv-edd-download-pagination {
		margin-top: 150px;
	}

	#nv-edd-download-pagination .page-numbers {
		background: var(--nv-light-bg);
		border-radius: 3px;
		color: var(--nv-text-color);
		margin-right: 20px;
		padding: 12px 15px;

		&.current {
			background: var(--nv-primary-accent);
			color: var(--nv-text-dark-bg);
		}
	}

}
