.nv-iframe-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container {
  max-width: calc(100% - 70px);
}

blockquote {
  margin: $spacing 0;

  p {
    font-size: 1.1em;
  }

  cite {
    padding-top: $spacing-sm;
    display: block;
    color: $gray-color;
    font-style: normal;
    font-size: .95em;
  }

  &:after, &:before {
    height: 3px;
    width: $spacing-lg;
    background-color: $muted-white-med;
    content: " ";
    display: block;
  }

  &:before {
    margin: 0 auto $spacing;
  }

  &:after {
    margin: $spacing auto 0;
  }

  > * {
    margin-bottom: 0;
  }
}

table {
  width: 100%;
  margin: $spacing-sm 0;

  td, th {
    padding: $spacing-xs;
    border-bottom: $muted-border;
  }
}

p code {
  background: #d0effb;
  border-radius: 5px;
  border: $muted-border;
  padding: 0 3px;
}

pre {
  display: block;
  padding: $spacing-sm;
  background: #fbfbfb;
  border-radius: 5px;
  border: $muted-border;
  margin: $spacing-sm 0;
  white-space: pre-wrap;
  font-size: 0.9em;
  line-height: 2em;
}

.nv-content-wrap, .excerpt-wrap {
  &:after {
    content: "";
    clear: both;
    display: table;
  }

  ul {
    list-style-type: circle;
  }

  > ul, > ol {
    margin: $spacing-sm 0;
  }

  ul, ol {
    padding-left: $spacing-sm;

    li {
      margin-top: $spacing-xs;
    }
  }

  dt {
    font-weight: 600;
    display: block;
  }
}

.alignleft {
  float: left;
  margin: 16px 16px 16px 0;
}

.alignright {
  float: right;
  margin: 16px 0 16px 16px;
}

.aligncenter {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
}

.twitter-tweet.twitter-tweet-rendered {
  padding: $spacing-sm 0;
  margin: auto;
}

hr {
  border: 0;
  height: 0;
  border-top: $muted-border;
  margin: $spacing-xs 0;
  display: inline-block;
  width: 100%;
}

audio {
  display: flex;
  height: 50px;
}

@mixin content--laptop() {
  .neve-main > .container .col {
    max-width: 70%;
  }
  .neve-main > .container > .row {
    flex-wrap: nowrap;
  }

  .nv-empty-sidebar .neve-main > .container .col {
    max-width: 100%;
  }
}
