blockquote {
  text-align: center;
  font-size: 1.1em;
  margin: $spacing 0;
  &:before {
    height: 3px;
    width: $spacing-lg;
    background-color: #333;
    content: " ";
    display: block;
    margin: 0 auto $spacing;
  }
  > * {
    margin-bottom: 0;
  }
}

table {
  margin: $spacing 0;
  td, th {
    padding: $spacing-xs;
    border-bottom: $muted-border;
  }
  tbody tr:hover {
    background-color: #fbfbfb;
  }
}



code {
  background: #d0effb;
  border-radius: 5px;
  border: $muted-border;
}

ul, ol  {
  padding-left: $spacing;
  li {
    line-height: 2em;
  }
}

dl {
  width: 100%;
  overflow: hidden;
  margin-top: $spacing;
}
dt {
  font-weight: bold;
  float: left;
  width: 23%;
  padding-right: 2%;
  margin-bottom: $spacing;
}
dd {
  margin-bottom: $spacing;
  float: left;
  width: 73%;
  padding-left: 2%;
  border-left: $muted-border;
}