footer {
  background-color: #fff;
}

.footer-menu {
  display: flex;
  justify-content: center;
  .hfg-item-left &, .hfg-item-center & {
    li:not(:last-child) {
      padding-right: $spacing-sm;
    }
  }

  .hfg-item-right & {
    li:not(:first-child) {
      padding-left: $spacing-sm;
    }
  }
}
