footer {
  background-color: #fff;
  a:not(.button) {
	opacity: .79;
	&:hover {
	  opacity: 1;
	}
  }
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .hfg-item-left &, .hfg-item-center & {
    li:not(:last-child) {
      margin-right: $spacing-sm;
    }
  }

  .hfg-item-right & {
    li:not(:first-child) {
      margin-left: $spacing-sm;
    }
  }
}
