@import "form-elements/inputs";
@import "form-elements/buttons";


.nv-seach-form-wrap {
  width: 100%;
  border-top: $muted-border;
  padding-top: $spacing-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  .search-form {
    display: inline-block;
    input[type="submit"] {
      margin-left: 10px;
    }
  }
}

.search-form label {
  margin-bottom: 0;
}

.search-form, .woocommerce-product-search {
  position: relative;

  label {
    display: inline;
  }

  .nv-search-icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45px;
    z-index: 3;
    cursor: pointer;
    pointer-events: none;
    color: $muted-white-med;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }

  input[type="search"] {
    width: 100%;
    padding: 8px 45px 7px 12px;
  }

  button[type="submit"], input[type="submit"] {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    color: transparent;
    background: 0 0;
    z-index: 2;
    width: 45px;
    border: 0;
    padding: 8px 12px 7px;
    border-radius: 0;

    &:hover {
      background-color: #eee;
    }
  }
}

.nv-nav-search .search-form input[type="search"] {
  width: 200px;
}
