.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.neve-main {
  flex: 1 auto;
}

.archive-container, .single-page-container {
  padding-top: $spacing;
}

.nv-page-title-wrap.nv-big-title {
  h1 {
    font-size: 1.7em;
    margin: $spacing 0 0;
  }
}

@mixin page--laptop() {

}