@mixin sidebar--laptop() {
  .nv-sidebar-wrap {
    max-width: 30%;
    &.nv-right {
      border-left: $muted-border;
    }
    &.nv-left {
      border-right: $muted-border;
    }
  }

  .nv-index-posts {
    &:not(:only-child) {
      padding-right: 15px;
      .nv-sidebar-wrap.nv-left + & {
        padding-left: 15px;
      }
    }
  }

  .nv-single-post-wrap, .nv-single-page-wrap, .nv-index-posts {
    margin-bottom: $spacing;
    &:not(:only-child) {
      padding-right: $spacing;
      .nv-sidebar-wrap.nv-left + & {
        padding-right: 15px;
        padding-left: $spacing;
      }
    }
  }

  .nv-sidebar-wrap {
    &.nv-right {
      padding-left: $spacing;
    }
    &.nv-left {
      padding-right: $spacing;
    }
  }
}

.nv-sidebar-wrap {
  margin-bottom: $spacing;
  .widget h5 {
    font-weight: 600;
    font-size: 1.25em;
  }
  .search-form, .woocommerce-product-search {
    position: relative;
    &:after {
      font-family: "neve-icons";
      content: "\f002";
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 35px;
      width: 45px;
      z-index: 3;
      cursor: pointer;
      pointer-events: none;
      color: $muted-white-med;
    }
    input[type="search"] {
      width: 100%;
      padding: 8px 45px 7px 12px;
    }
    button[type="submit"], input[type="submit"] {
      top: 0;
      right: 0;
      position: absolute;
      color: transparent;
      background: 0 0;
      z-index: 2;
      width: 45px;
      border: 0;
      padding: 8px 12px 7px;
    }
  }
  .widget {
    border-bottom: $muted-border;
    padding-bottom: $spacing-sm;
    margin-bottom: $spacing-sm;
    &:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}

.widget ul {
  padding: 0;
  ul {
    padding-left: $spacing-xs;
    border-left: $muted-border;
  }
  li {
    margin-top: $spacing-xs;
  }
}

.widget_media_image img {
  width: 100%;
}