@mixin sidebar--tablet() {
  .nv-sidebar-wrap {
    max-width: 30%;
    &.right {
      border-left: $muted-border;
    }
    &.left {
      border-right: $muted-border;
    }
  }

  .nv-index-posts {
    &:not(:only-child) {
      padding-right: 0;
      .nv-sidebar-wrap.left + & {
        padding-left: 0;
      }
    }
  }
}

@mixin sidebar--laptop() {
  .nv-single-post-wrap, .nv-single-page-wrap {
    margin-bottom: $spacing;
    &:not(:only-child) {
      padding-right: $spacing;
      .nv-sidebar-wrap.left + & {
        padding-right: 0;
        padding-left: $spacing;
      }
    }
  }

  .nv-index-posts {
    margin-bottom: $spacing;
    &:not(:only-child) {
      padding-right: $spacing - 15px;
      .nv-sidebar-wrap.left + & {
        padding-right: 0;
        padding-left: $spacing - 15px;
      }
    }
  }

  .nv-sidebar-wrap {
    &.right {
      padding-left: $spacing;
    }
    &.left {
      padding-right: $spacing;
    }
  }
}

.nv-sidebar-wrap {
  margin-bottom: $spacing;

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type="search"] {
    margin-bottom: $spacing-xs;
    width: 100%;
  }

  .widget {
    border-bottom: $muted-border;
    padding-bottom: $spacing-sm;
    margin-bottom: $spacing-sm;
    &:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  .widget_media_image img {
    width: 100%;
  }
}

.widget ul {
  padding: 0;
  ul {
    padding-left: $spacing-xs;
    border-left: $muted-border;
  }
  li {
    margin-top: $spacing-xs;
  }
}

.widget > ul {
  font-size: .85em;
}