#nv-top-bar-menu {
  @include horizontal-list(0, 'false');
  flex: 1;
  .content-menu & > li {
    margin-left: $spacing-xs;
  }
  .menu-content & > li {
    margin-right: $spacing-xs;
  }
}

.nv-top-bar-content {
  display: flex;
  flex: 1;
  p {
    margin-bottom: 0;
  }
}

.nv-top-bar {
  background-color: $muted-white;
  color: $body-color;
  a {
    font-weight: 500;
    color: $body-color;
    &:hover {
      color: $body-color;
    }
  }
}

.nv-tb-wrap {
  padding-top: $spacing-xs;
  padding-bottom: $spacing-xs;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  font-size: .85em;
  &.menu-content .nv-top-bar-content,
  &.content-menu #nv-top-bar-menu {
    justify-content: flex-end;
    align-items: center;
  }

  &.content-menu .nv-top-bar-content,
  &.menu-content #nv-top-bar-menu {
    justify-content: flex-start;
    align-items: center;
  }
}