#nv-top-bar-menu {
  @include horizontal-list($spacing-xs);
  flex: 1;
}

.nv-top-bar-content {
  display: flex;
  flex: 1;
  p {
    margin-bottom: 0;
  }
}

.nv-top-bar {
  background-color: $navbar_background_color;
  border-bottom: $muted-border;
}

.nv-tb-wrap {
  padding-top: $spacing-xs;
  padding-bottom: $spacing-xs;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  &.menu-content .nv-top-bar-content,
  &.content-menu #nv-top-bar-menu {
      justify-content: flex-end;
      align-items: center;
  }

  &.content-menu .nv-top-bar-content,
  &.menu-content #nv-top-bar-menu {
    justify-content: flex-start;
    align-items: center;
  }
}

@mixin top-bar--laptop() {

}