
@import "frontend/mixins";
@import "frontend/vars";
@import "frontend/gridlex/gridlex";


/* Customize Preview */
.customize-previewing {
  overflow-x: hidden;

  .builder-item-focus {
    &.item--inner {
      position: relative;
      &.has_menu {
        position: initial;
        .item--preview-name {
          left: auto;
        }
      }
    }
    .item--preview-name {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      background: #0073aa;
      color: #fff;
      padding: 5px 8px 6px;
      font-size: 12px !important;
      font-weight: 600;
      line-height: 14px;
      cursor: pointer;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &:hover {
      &.item--inner {
        transition-delay: 0s !important;
        outline: 1px solid #0073aa;
        outline-offset: -1px;
        .item--preview-name {
          display: block;
          z-index: 9999999;
        }
      }
    }
  }

  .header--row,
  .header-menu-sidebar {
    .customize-partial-edit-shortcut {
      display: none;
    }
    .builder-item-focus {
    }
  }
  .footer--row {
    .builder-item-focus {
      &:hover {
        &.item--inner {
          outline: 1px dashed #ff472e;
          outline-offset: -1px;
        }
      }
    }
  }
}

// Skin mode
.dark-mode {
  .header--row & {
    color: $light_color;
    background: $dark_bg;
  }

  // Site identity
  .site-title,
  .site-title a {
    color: $light_color_link_hover;
  }
}

.light-mode {
  .header--row & {
    color: $dark_color;
    background: $light_bg;
  }

  // Site identity
  .site-title,
  .site-title a {
    color: $dark_color_link_hover;
  }
}

// Header Top
.header-top {
  padding: 0;
  text-size-adjust: 100%;
  line-height: 13px;
  .hfg-grid .item--html{
    font-size: 15px;
  }
  .item--html {
    line-height: 1.3;
  }
  .light-mode {
    background: #f0f0f0;
  }
  .dark-mode {
    background: $color_primary;
  }
}

// Header Main
.header-main {
  padding: 0;
  .dark-mode {
    background: #1a1a1a;
  }
  .light-mode {
    box-shadow: 0 1px 2px 0 #e1e5ea;
    background: #FFFFFF;
  }
}

// Header Bottom
.header-bottom {
  padding: 0;
  border-left: none;
  border-right: none;
  .light-mode {
    background: #f0f0f0;
    box-shadow: 0 1px 2px 0 #e1e5ea;
  }
  .dark-mode {
    background: #303030;
  }
}

// Common Header
.site-header {
  position: relative;
  .hfg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.layout-fullwidth {
  .hfg-container {
    max-width: initial;
  }
}

.header--row {
  .hfg-grid {
    @include for_device(desktop) {
      margin: 0 -0.5em;
      [class~="customify-col-"],
      [class*="customify-col-"],
      [class*="customify-col_"] {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  }

  .hfg-grid {
  }
  &.layout-full-contained {
    .hfg-container {
      background: transparent !important;
    }
  }
  &.layout-full-contained,
  &.layout-fullwidth {
    .hfg-container {
      border: 0 none !important;
      box-shadow: none !important;
    }
  }
  @include for_device(desktop) {
    &.layout-contained {
      background: transparent !important;
      border: 0 none;
      box-shadow: none !important;
      .hfg-container {
      }
    }
  }
  &.layout-fullwidth {
    .hfg-container {
      box-shadow: none !important;
    }
  }
}

/* Customizer Shortcut */
#masthead,
#header-menu-sidebar {
  .customize-partial-edit-shortcut {
    display: none;
  }
}
#masthead {
  > .customize-partial-edit-shortcut {
    &.customize-partial-edit-shortcut-header_builder_panel {
      display: none;
    }
    button {
      left: 0;
    }
  }
}

// Header mobile sidebar
@import "frontend/header/mobile_sidebar";


/************************
    HIDING COLS FOR DEVICES
*************************/
@each $mq-key, $mq-value in $gl-devices-list {
  @media #{$mq-value} {
    .hide-on-#{$mq-key},
    .hfg-grid .hide-on-#{$mq-key} { display: none; }
    .align-left-#{$mq-key} { text-align: left; }
    .align-center-#{$mq-key} { text-align: center; }
    .align-right-#{$mq-key} { text-align: right; }
  }
}

/************************
         COMPONENTS
*************************/
@import "frontend/components/logo";