.ob-dropdown.editor-selector {
  overflow: visible;
  display: inline-block;
  position: relative;
  width: 100%;
  button {
	display: flex;
	align-items: center;
	font-weight: 600;
	padding: 5px 20px 5px 10px;
	background: #fff;
	border: 1px solid $grey;
	font-size: 14px;
	height: 52px;
	width: 100%;

	.count {
	  color: #A3A3A3;
	  margin: 0 20px 0 auto;
	}
  }

  img {
	border-radius: 5px;
	margin-right: 5px;
	max-width: 30px;
	max-height: 30px;
  }

  .options {
	margin: 0;
	li {
	  border-bottom: 1px solid $grey;
	  padding: 0;
	  margin: 0;
	}
	a {
	  height: 35px;
	  font-size: 14px;
	  display: flex;
	  align-items: center;
	  font-weight: 600;
	  color: $black;
	  cursor: pointer;
	  padding: 5px 10px;
	  text-decoration: none;

	  &:hover {
		background-color: $blue;
		color: #fff;
	  }
	}
  }
}

@mixin ob-editor-selector--laptop() {
  .ob-dropdown.editor-selector {
	display: none;
  }
}
