.ob-head {
  h2 {
	font-size: 30px;
	color: $black;
	margin: 0;
  }

  p {
	font-size: 22px;
	color: $black;
	margin: 20px 0 50px;
  }
}

.header-form {
  display: flex;
  align-items: center;

  .search {
	flex-grow: 1;
	position: relative;
	display: flex;
	margin-left: 10px;

	img {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  right: 10px;
	}
  }

  input {
	margin: 0;
	display: block;
	flex-grow: 1;
	border: 1px solid $grey;
	height: 45px;
	padding: 5px 50px 5px 30px;
  }
}
