@import "stepper";

$base-index: 100000;

.ob-import-modal {
  width: 630px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .modal-body {
	h3 {
	  margin: 0;
	  display: flex;
	  align-items: center;

	  svg {
		margin-right: 5px;
	  }
	}
  }

  .well {
	margin: 0;
	padding: 10px;
	border: 1px solid;
	border-radius: 3px;
	color: $black;
	border-color: $info;
	background-color: lighten($info, 27);

	ol {
	  padding: 0;
	  margin: 20px 0 0 20px;

	  li {
		margin-bottom: 10px;

		&:last-child {
		  margin-bottom: 0;
		}
	  }
	}

	ul {
	  margin: 20px 0 0;
	  padding: 0;
	  li {
		margin-bottom: 10px;
	  }
	}

	&.error {
	  border-color: $error;
	  background-color: lighten($error, 27);
	}

	&.warning {
	  border-color: $warning;
	  background-color: lighten($warning, 27);
	}
  }

  hr {
	margin: 25px 0;
	border: none;
	border-top: 1px solid $grey;
	height: 0;
  }

  .options {
	ul {
	  margin: 10px 0 0 0;
	}

	li {
	  padding: 15px 0 0;
	  display: flex;
	  align-items: center;
	  margin-bottom: 0;
	  font-size: 15px;
	  color: $black;

	  &:not(:last-child) {
		padding-bottom: 15px;
		border-bottom: 1px solid transparentize($grey, .5);
	  }

	  svg {
		margin-right: 15px;
		opacity: .5;

		&.active {
		  opacity: 1;
		  color: $blue;
		}
	  }
	}

	.toggle-wrapper {
	  margin-left: auto;

	  div {
		margin-bottom: 0;
	  }
	}
  }

  .import-result {
	font-size: 15px;
  }

  .modal-footer {
	margin-top: 25px;
	display: flex;
	align-items: center;

	.close {
	  padding: 0;
	}

	button:not(.close), a {
	  margin-left: auto;
	  padding: 5px 25px;

	  &:last-child {
		margin-left: 25px;
		&:only-child {
		  margin-left: auto;
		}
	  }
	}
  }
}
