.mock-dash.ob {
  .ob-head {
	h2 {
	  height: 30px;
	  width: 75%;
	}

	p {
	  height: 20px;
	  &:not(:last-child) {
		margin-bottom: 10px;
	  }
	}
  }
  .editor-icon {
	height: 30px;
	width: 30px;
	background-color: #d73260;
	margin-right:10px;
  }
  .ob-dropdown {
	button {
	  background-color: #fff;
	}
	span {
	  width: 80px;
	  height: 15px;
	}
  }
  .search button {
	width: 100%;
	height: 45px;
	background: #fff;
	padding: 5px 30px;
	border: 1px solid $grey;
	border-radius: 3px;
	span {
	  height: 15px;
	  width: 30%;
	  display: block;
	}
  }
  .card .image {
	height: 330px;
	border-radius: 0;
	background-color: $dark-grey;
  }
}
