@import "presets-selector/scss/main";

#sub-accordion-panel-hfg_header #accordion-section-neve_header_presets {
  display: list-item !important;
}

$button_color: #555d66;
#customize-theme-controls .components-circular-option-picker__option:focus:after,
#customize-theme-controls .components-color-palette__item:focus:after {
  top: -4px;
  left: -4px;
}

.neve-white-background-control {
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
}

.neve-color-preview {
  width: 20px;
  border-radius: 3px;
  border: 1px solid #767676;
  height: 15px;
  left: 3px;
  top: -20px;
  float: left;
  position: relative;
}

.neve-button-appearance-control {

  .neve-white-background-control {
    padding-bottom: 0;
  }

  .components-panel {
    margin: 0 -11px -1px;
  }

  .components-panel__row {
    display: block;
  }

  .neve-radio-icons {
    button {
      height: 30px;

      svg {
        height: 20px;
        width: 55px;
      }

      .button-filled-svg {
        path {
          fill: #fff;
        }
      }

      .button-outline-svg {
        rect {
          fill: none;
          stroke: $button_color;
          stroke-miterlimit: 10;
        }
      }

      &.active {
        .button-filled-svg {
          path {
            fill: $button_color;
          }
        }

        .button-outline-svg {
          rect {
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
          }
        }
      }
    }
  }
}

.neve-color-control .components-tooltip {
  display: none !important;
}

.customize-control-neve_background_control, .neve-button-appearance-control {
  margin-bottom: 20px;


  .components-color-picker__inputs-toggle {
    margin-left: auto;
  }

  .components-tooltip.components-popover {
    display: none !important;
  }

  .components-color-picker__inputs-field {
    margin: 0;
  }

  .components-color-picker__inputs-wrapper {
    display: flex;
    align-items: flex-end;

    .components-base-control__label {
      margin: 0;
    }
  }

  .components-color-palette__item-wrapper {
    margin-right: 12px;

    span {
      display: none !important;
    }
  }

  .components-color-palette__item-wrapper:hover {
    transform: scale(1.05);
  }

  .control--top-toolbar {
    .neve-background-type-control button.components-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .remove-image {
    align-items: center;
    width: 100%;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .control--body {
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #fff;
    border-top: none;
    padding: 15px;

    label {
      display: block;
      margin: 20px 0 10px;
      font-weight: 500;
    }

    .components-focal-point-picker-wrapper {
      width: auto;
      height: auto;
      padding: 10px;
      border-radius: 3px;
      background-color: #ededed;
    }
  }

  input.components-range-control__number {
    width: 20%;
    margin-left: 20px;
  }

  .components-placeholder {
    width: auto;
    min-height: 150px;
    border-radius: 3px;
    background-color: #ededed;
    border: 1px solid #e2e4e7;
  }

  .components-focal-point-picker_position-display-container {
    margin: 0;

    .components-base-control {
      margin-bottom: 0;
      width: 50%;

      .components-base-control__field {
        margin: 0;
      }
    }

    label {
      margin-top: 10px;
    }
  }

  .components-toggle-control__label {
    margin: 0 !important;
  }

  .components-toggle-control {
    margin: 20px 0 25px;
  }
}

.neve-background-type-control {
  width: 100%;

  button {
    width: 50%;
    justify-content: center;
  }
}


.neve-control-header {
  display: flex;
}

.neve-responsive-control-bar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  &.bordered {
    border-bottom: 3px solid #d8d8d8;
    margin-bottom: 0;
  }

  .customize-control-title {
    margin: 0;
  }

  .floating-controls {
    margin-left: auto;
  }

  button {
    font-size: 14px;
    border-bottom: 3px solid transparent;
    margin-bottom: -3px;

    &.active-device {
      border-bottom: 3px solid currentColor;
      border-bottom-color: #191e23;

      svg {
        fill: #191e23 !important;
      }
    }

    &:not(.active-device) {
      svg {
        fill: #656a6f !important;
      }
    }

    svg {
      height: 17px;
      width: 17px;
    }
  }
}

.neve-typeface-control .neve-responsive-controls-content {
  border: 1px solid #ccc;
  border-top: 0;
  background-color: #fff;
  padding: 10px;
}

//FONTS
.neve-typeface-control {

  .font-family-selector-toggle {
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;

    .ff-name {
      width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1;
      text-align: left;
    }

    .ff-preview {
      line-height: 1;
      align-self: flex-end;
      margin-left: auto;
      font-size: 21px;
    }
  }

  .popover-content {
    position: relative;
    display: block;
    width: 300px !important;
  }

  .popover-header {
    position: absolute;
    top: -40px;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2);
    border-bottom: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    top: 0;
    box-sizing: border-box;

    .components-base-control__field {
      margin-bottom: 0;

      input {
        height: 25px;
        width: 100%;
      }
    }

    .components-base-control {
      width: 85%;
    }

    button {
      padding: 0 5px;
      margin-left: auto;
    }
  }

  .components-popover__content {
    overflow: hidden !important;
  }

  .neve-fonts-list {
    max-height: 400px;
    margin-top: 40px;
    overflow: auto;

    .load-more {
      padding: 10px 0;

      svg {
        fill: #0073aa;
        animation: 2s infinite linear neve-spin;
      }
    }

    li {
      margin: 0;

      &.selected a {
        background-color: #0b69da;
        color: #fff;
      }

      &.no-result {
        opacity: .75;
        font-weight: 600;
        padding: 10px 0;
      }

      &.font-group-header {
        text-align: left;
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 600;
        background-color: #efefef;
      }

      a {
        align-items: center;
        display: flex;
        padding: 5px 10px;
        transition: .2s ease;
        color: #333;
        border-bottom: 1px solid #efefef;

        &:hover {
          color: #fff;
          background-color: #0073aa;
        }

        .neve-font-family {
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          max-width: 75%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .neve-font-preview {
          line-height: initial;
          font-display: swap;
          margin-left: auto;
          font-size: 20px;
        }
      }
    }
  }
}

@-moz-keyframes neve-spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes neve-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes neve-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.neve-radio-icons:not(:last-child), .neve-font-family-control:not(:last-child) {
  margin-bottom: 10px;
}

.neve-number-control-wrap {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.neve-toggle-control {
  > .components-base-control__field, label {
    margin-bottom: 0 !important;
  }
}

// Range control.
.neve-range-control {
  .components-base-control__field {
    flex-direction: row;

    .components-range-control__slider {
      width: 70%;
    }

    .components-range-control__number {
      width: 25%;
      margin-left: 5%;
    }
  }
}

//REFACTOR
.neve-units {
  margin-left: auto;
  display: flex;

  &.inline {
    margin-bottom: 4px;
  }

  button.components-button.is-button {
    border: none;
    color: $button_color;
    margin-left: 3px;
    background: none;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;

    &:disabled {
      opacity: .5;
    }

    &.active {
      background: $button_color;
      color: #fff;
    }
  }
}

.neve-sizing {
  &.inline-header {
    .bordered {
      border: none;
    }

    .neve-responsive-sizing {
      padding-top: 15px;
    }

    .neve-control-header {
      border-bottom: 3px solid #d8d8d8;
    }
  }
}

.neve-responsive-sizing {
  display: flex;

  &.single-input .nv-sizing-item {
    width: 80%;

    &:last-child {
      width: 100%;

      > input {
        border-radius: 3px;
      }
    }
  }

  button:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  .nv-sizing-item {
    width: 20%;

    &:first-child input {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    > input {
      border: 1px solid #999;
      border-radius: 0;
      min-height: 30px;
    }
  }

  button {
    margin-left: -1px;
    border-radius: 0;
    border: 1px solid #999;
    height: 30px;
    padding: 3px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: $button_color;

    &:focus, &:active {
      background: inherit;
      border-color: inherit;
      color: inherit;
      outline: none;
      box-shadow: none;
    }

    &.active, &.active:hover, &.active:focus:enabled {
      box-shadow: none !important;
      outline: none !important;
      background: $button_color !important;
      border-color: $button_color !important;
      color: #fff !important;
    }

    svg {
      margin-right: 0 !important;
      width: 16px;
    }
  }

  label {
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    display: block;
    font-weight: 600;
    color: #555;
  }

  .range-control {
    .components-base-control__field {
      padding: 10px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0;

      input[type="number"] {
        width: 27%;
      }
    }
  }
}


.neve-radio-icons {
  display: flex;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px;

  button {
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 3px;

    &:not(:first-child) {
      margin-left: 3px;
    }

    svg {
      width: 20px;
      margin-right: 0 !important;
    }

    &.active {
      &, &:hover {
        background-color: $button_color !important;
        border-color: $button_color !important;
        color: #fff !important;
        box-shadow: none !important;
      }
    }
  }
}

.large-buttons {
  .neve-radio-icons button {
    height: 45px;

    svg {
      width: 50px;
      height: 30px;
    }
  }
}


.neve-has-dynamic-tag-selector {
  position: relative;

  > input {
    padding-right: 30px;
  }

  &.customize-control-textarea .neve-dynamic-tag-selector {
    bottom: 80px;
  }

  .neve-dynamic-tag-selector {
    position: absolute;
    bottom: 0;
    right: 0;

    .components-dropdown-menu {
      padding: 0 !important;

      button {
        svg {
          opacity: .75;
        }

        &:hover, &:active {
          border-color: transparent !important;
          box-shadow: none !important;
          background: transparent !important;

          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}


.components-icon-button, .components-button {
  .svg-text {
    fill: #fff;
  }

  &.active .svg-text {
    fill: $button_color;
  }
}

