@import "../../main/variables";
$overlay: rgba(0, 0, 0, 0.75);

.cover-post {
	display: flex;
	box-shadow: var(--boxshadow, none);
	position: relative;
	min-height: 300px;
}

.layout-covers {

	.content {
		position: relative;
		padding: 0;
	}

	.inner {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 10;
		color: var(--color, #fff);
		padding: 25px;
	}

	a:not(.button) {
		color: var(--color, #fff);
	}

	.img-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.cover-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: $overlay;
	z-index: 1;
}
