.nv-non-grid-article {

	.nv-post-thumbnail-wrap {
		margin-bottom: $spacing-md;
	}
}

.non-grid-content {
	padding: var(--padding);
}

@mixin blog-layout-default-alt--laptop() {

	.nv-non-grid-article {

		.nv-post-thumbnail-wrap {
			margin-bottom: 0;
			grid-column: var(--thumbgridcolumn, 1);
		}

		.content {
			display: grid;
			grid-gap: 20px;
			align-items: center;
			grid-auto-flow: dense;
		}
	}

	.posts-wrapper > article {

		&.has-post-thumbnail .content {
			grid-template-columns: var(--postcoltemplate, 35fr 65fr);
		}

		&.has-post-thumbnail.layout-alternative:nth-child(even) {
			--thumbgridcolumn: 2;

			.content {
				grid-template-columns: var(--postcoltemplate, 65fr 35fr);
			}
		}
	}
}
