@import "../../main/variables";

.nv-meta-list {
	margin-bottom: $spacing-md;
	font-size: $text-sm;

	li,
	span {
		display: inline-block;

		&:not(:last-child)::after {
			content: "/";
			padding: 0 $spacing-xxs;
		}
	}

	.posted-on:not(.nv-show-updated) .updated {
		display: none;
	}

	.photo {
		width: var(--avatarsize);
		height: var(--avatarsize);
		border-radius: 50%;
		transform: translateY(30%);
		margin-right: 3px;
	}

}

.nv-dynamic-author-meta {

	.photo {
		width: $spacing-sm;
		height: $spacing-sm;
		border-radius: 50%;
		transform: translateY(30%);
	}
}
