@import "../../main/variables";
$overlay: rgba(0, 0, 0, 0.75);

.layout-covers {

	.article-content-col,
	.content,
	.cover-post {
		height: 100%;
	}

	.content {
		border: 0;
		padding-bottom: 0;
	}
}

.cover-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: $overlay;
	z-index: 1;
}

.cover-post {
	box-shadow: var(--boxshadow, none);
	position: relative;

	.img-wrap {
		position: absolute;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.inner {
		max-width: 100%;
		min-height: 350px;
		position: relative;
		z-index: 10;
		padding: 25px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: var(--color, #fff);
		flex-grow: 1;

		a:not(.button) {
			color: var(--color, #fff);
		}
	}
}
