ul.page-numbers {
	display: flex;
	flex-wrap: wrap;

	li {
		margin-bottom: $spacing-sm;
	}

	input[type="submit"] {
		all: unset;
		cursor: pointer;
	}

	form {
		display: flex;
	}

	.page-input {
		line-height: 1;
		margin-right: $spacing-xs;
		padding: 8px 15px;
		font-size: var(--bodyfontsize);
	}

	a,
	span,
	input[type="submit"] {
		line-height: 1;
		margin-right: $spacing-md;
		background: var(--nv-light-bg);
		border-radius: 3px;
		padding: 12px 15px;
		color: var(--nv-text-color);
		display: block;
	}

	.dots {
		background: 0;
	}

	.current {
		background: var(--nv-primary-accent);
		color: var(--nv-text-dark-bg);
	}
}
