@import "../../main/variables";

.nv-single-post-wrap {
  > div {
	&:first-child {
	  margin-top: $spacing-aired;
	}

	&:last-child {
	  padding-bottom: $spacing-lg;
	}
  }

  > div:not(:last-child) {
	margin-bottom: var(--spacing, $spacing-aired);
  }
}

.nv-page-title-wrap {
  margin-top: $spacing-aired;
}

.entry-header .title, .page .title, .nv-page-title {
  margin-bottom: $spacing-xl;
}

.attachment-neve-blog {
  display: flex;
}

.nv-post-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacing-md;

  span {
	display: block;
  }

  .nav-direction {
	color: var(--nv-text-color);
	font-size: 0.8em;
	text-transform: uppercase;
  }

  a:hover span:last-child {
	text-decoration: underline;
  }

  .next {
	grid-column: 2;
	text-align: right;
  }
}

.post-pages-links {
  display: flex;
  list-style-type: none;

  > a:not(:last-child) span, > span {
	padding-right: $spacing-sm;
  }
}

.post-password-form {
  margin-bottom: $spacing-md;
  text-align: center;

  input[type=submit] {
	height: 39px;
	margin-left: $spacing-xs;
  }

  label {
	margin-bottom: 0;
  }

  p {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  label > input {
	margin-left: $spacing-xs;
  }
}

.nv-tags-list, .tagcloud {
  a {
	margin-left: $spacing-xs;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	background: var(--nv-primary-accent);
	line-height: 1;
	font-size: .75em !important;
	display: inline-block;
  }
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;

  a {
	margin: 0 $spacing-xs $spacing-xs 0;
	color: #fff !important;
  }
}

.nv-post-cover {
  min-height: var(--height);
  padding: var(--padding);
  display: flex;
  position: relative;

  &.has-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  .nv-title-meta-wrap {
	color: var(--color, var(--nv-text-dark-bg));
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	z-index: 1;
	&.reversed{
	  flex-direction: column-reverse;
	}
  }

  .nv-meta-list{
	li, a {
	  color: var(--color, var(--nv-text-dark-bg) );
	}
  }

  .container{
	z-index: 1;
	display: flex;
  }

}

.nv-is-boxed{
  padding: var(--padding);
  background: var(--bgColor,var(--nv-light-bg));
  color: var(--color, var(--nv-text-color));

  &.nv-title-meta-wrap {
	padding: var(--padding);
	background: var(--bgColor, var(--nv-light-bg));
  }

  &.nv-comments-wrap {
	.nv-comments-title-wrap {
	  margin: 0;
	}

	.nv-comments-list {
	  padding: 0;
	}

	a {
	  color: var(--color, var(--nv-text-color));
	}

	.nv-comments-list .comment{
	  border-color: var(--color, var(--nv-text-color)) !important;
	}
  }

  &.comment-respond {
	a {
	  color: var(--color, var(--nv-text-color));
	}
  }
}

.nv-overlay {
  background-color: var(--bgColor,var(--nv-dark-bg));
  mix-blend-mode: var(--blendMode,normal);
  opacity: var(--opacity);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mobile-top {
  align-self: flex-start;
}

.mobile-middle {
  align-self: center;
}

.mobile-bottom {
  align-self: flex-end;
}

.nv-post-cover.mobile-left,
.nv-post-cover .container.mobile-left {
  justify-content: flex-start;
}

.nv-post-cover.mobile-center,
.nv-post-cover .container.mobile-center {
  justify-content: center;
}

.nv-post-cover.mobile-right,
.nv-post-cover .container.mobile-right {
  justify-content: right;
}

@mixin cover-layout--tablet() {
  .tablet-top {
	align-self: flex-start;
  }

  .tablet-middle {
	align-self: center;
  }

  .tablet-bottom {
	align-self: flex-end;
  }

  .nv-post-cover.tablet-left,
  .nv-post-cover .container.tablet-left {
	justify-content: flex-start;
  }

  .nv-post-cover.tablet-center,
  .nv-post-cover .container.tablet-center {
	justify-content: center;
  }

  .nv-post-cover.tablet-right,
  .nv-post-cover .container.tablet-right {
	justify-content: flex-end
  }
}

@mixin cover-layout--laptop() {
  .desktop-top {
	align-self: flex-start;
  }

  .desktop-middle {
	align-self: center;
  }

  .desktop-bottom {
	align-self: flex-end;
  }

  .nv-post-cover.desktop-left,
  .nv-post-cover .container.desktop-left {
	justify-content: flex-start;
  }

  .nv-post-cover.desktop-center,
  .nv-post-cover .container.desktop-center {
	justify-content: center;
  }

  .nv-post-cover.desktop-right,
  .nv-post-cover .container.desktop-right {
	justify-content: flex-end
  }
}
