@import "../../main/variables";

.nv-single-post-wrap {

	> div {

		&:first-child {
			margin-top: $spacing-aired;
		}

		&:last-child {
			padding-bottom: $spacing-lg;
		}
	}

	> div:not(:last-child) {
		margin-bottom: var(--spacing, $spacing-aired);
	}
}

.nv-page-title-wrap {
	margin-top: $spacing-aired;
}

.entry-header {
	text-align: var(--textalign, center);

	.title {
		margin-bottom: $spacing-xs;
	}
}

.attachment-neve-blog {
	display: flex;
}

.nv-post-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $spacing-md;

	span {
		display: block;
	}

	.nav-direction {
		color: var(--nv-text-color);
		font-size: 0.8em;
		text-transform: uppercase;
	}

	a:hover span:last-child {
		text-decoration: underline;
	}

	.next {
		grid-column: 2;
		text-align: right;
	}
}

.post-pages-links {
	display: flex;
	list-style-type: none;

	> a:not(:last-child) span,
	> span {
		padding-right: $spacing-sm;
	}
}

.post-password-form input[type="submit"] {
	margin-top: $spacing-md;
}

.nv-tags-list,
.tagcloud {

	a {
		margin: 0 $spacing-xs $spacing-xs 0;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff !important;
		padding: 10px;
		border-radius: 4px;
		background: var(--nv-primary-accent);
		line-height: 1;
		font-size: 0.75em !important;
		display: inline-block;
	}

	span {
		margin-right: $spacing-xs;
	}
}

.tagcloud {
	display: flex;
	flex-wrap: wrap;
}

.page .nv-post-cover {
	margin-bottom: 60px;
}

.nv-post-cover {
	min-height: var(--height);
	padding: var(--padding);
	justify-content: var(--justify, center);
	display: flex;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.nv-title-meta-wrap {
		color: var(--color, var(--nv-text-dark-bg));
		display: flex;
		flex-direction: column;
		z-index: 1;
		align-self: var(--valign, flex-end);

		> *:last-child {
			margin-bottom: 0;
		}

		a {
			color: var(--color, var(--nv-text-dark-bg));
		}
	}

	.container {
		display: flex;
		justify-content: var(--justify, center);
		text-align: var(--textalign, center);
	}
}

.nv-is-boxed {
	padding: var(--padding);
	background: var(--bgcolor, var(--nv-light-bg));
	color: var(--color, var(--nv-text-color));

	a {
		color: var(--color, var(--nv-text-color));
	}
}

.nv-overlay {
	background: var(--bgcolor, var(--nv-dark-bg));
	mix-blend-mode: var(--blendmode, normal);
	opacity: calc(var(--opacity) / 100);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
