#wpcontent {
  padding-left: 0 !important;
}

#wpbody-content > {
  .error, .info, .notice {
	display: none !important;
  }
}

.ob-overflow-off {
  overflow: hidden !important;
}

@media screen and (min-width: #{$tablet}) {
  .ob-import-modal {
	width: 630px !important;
  }
}
