.container {
  padding: 0 15px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin general--laptop() {
  .container {
    padding: 0 20px;
  }

  .content {
    display: flex;
    padding-top: 20px;
  }

  .main {
    flex-grow: 1;
    margin-right: 20px;
  }

  .col {
    display: flex;
    flex-direction: column;
  }
}

@mixin general--desktop() {
  .container {
    padding: 0 50px;
  }
  .main {
    flex-grow: 1;
    margin-right: 30px;
  }
  .content {
    display: flex;
    padding-top: 30px;
  }
  .columns {
    display: flex;
    flex-direction: row;
  }
}