$blue: #0073AA !default;
$light-blue: #6BC2DD!default;
$black: #282828 !default;
$grey: #e1e1e1 !default;
$dark-grey: #646D82!default;
$purple: #4268CF!default;

$info: #6BC2DD !default;
$error: #EC7C7C !default;
$warning: #ffb900 !default;
$success: #6EB77A !default;

@mixin heartpop( $delay: .7s ) {
  -webkit-animation: heartpop 0.9s both;
  animation: heartpop 0.9s both;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
}

@-webkit-keyframes heartpop {
  0% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
  30% {
	-webkit-transform: scale3d(1.25, 0.75, 1);
	transform: scale3d(1.25, 0.75, 1);
  }
  40% {
	-webkit-transform: scale3d(0.75, 1.25, 1);
	transform: scale3d(0.75, 1.25, 1);
  }
  50% {
	-webkit-transform: scale3d(1.15, 0.85, 1);
	transform: scale3d(1.15, 0.85, 1);
  }
  65% {
	-webkit-transform: scale3d(0.95, 1.05, 1);
	transform: scale3d(0.95, 1.05, 1);
  }
  75% {
	-webkit-transform: scale3d(1.05, 0.95, 1);
	transform: scale3d(1.05, 0.95, 1);
  }
  100% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

@keyframes heartpop {
  0% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
  30% {
	-webkit-transform: scale3d(1.25, 0.75, 1);
	transform: scale3d(1.25, 0.75, 1);
  }
  40% {
	-webkit-transform: scale3d(0.75, 1.25, 1);
	transform: scale3d(0.75, 1.25, 1);
  }
  50% {
	-webkit-transform: scale3d(1.15, 0.85, 1);
	transform: scale3d(1.15, 0.85, 1);
  }
  65% {
	-webkit-transform: scale3d(0.95, 1.05, 1);
	transform: scale3d(0.95, 1.05, 1);
  }
  75% {
	-webkit-transform: scale3d(1.05, 0.95, 1);
	transform: scale3d(1.05, 0.95, 1);
  }
  100% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}
