@charset "UTF-8";
@import "frontend/mixins";
@import "frontend/vars";
@import "frontend/layout/mobile_sidebar";
@import "frontend/layout/footer";
@import "frontend/layout/general";

// COMPONENTS
@import "frontend/components/button";

.hfg-grid {
	display: flex;
}

// HIDING COLS FOR DEVICES
@each $mq-key, $mq-value in $gl-devices-list {

	@media #{$mq-value} {
		.hide-on-#{$mq-key} {
			display: none;
		}
	}
}

.component-wrap {
	display: flex;
	margin: 4px 0;
}

.builder-item .item--inner {
	color: var(--color);
	font-family: var(--fontfamily, var(--bodyfontfamily));
	font-size: var(--fontsize, var(--bodyfontsize));
	line-height: var(--lineheight, var(--bodylineheight));
	letter-spacing: var(--letterspacing, var(--bodyletterspacing));
	font-weight: var(--fontweight, var(--bodyfontweight));
	text-transform: var(--texttransform, var(--bodytexttransform));
	padding: var(--padding, 0);
	margin: var(--margin, 0);
	position: relative;

	&.has_menu {
		position: unset;
	}
}

.inherit-ff {
	font-family: var(--inheritedff);
	font-weight: var(--inheritedfw);
}
