.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  top: 0;
  left: 0;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

a.neve-skip-link {
  background-color: $git-black;
  color: #fff;
  padding: $spacing-xs $spacing-sm;

  &:focus {
    color: #fff;
  }

  .admin-bar & {
    top: 32px;
  }
}


.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
  }
}

//<editor-fold desc="Underline links in content and comments content">
.nv-content-wrap a:not(.button):not(.wp-block-file__button), .nv-comment-content a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.nv-comment-content .edit-reply a, .comments-area a {
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}

//</editor-fold>
