.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  top: 0;
  left: 0;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

a.neve-skip-link {
  padding: $spacing-xs $spacing-sm;
}


.screen-reader-text {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

//<editor-fold desc="Underline links in content and comments content">
.nv-content-wrap a:not(.button):not(.wp-block-file__button), .nv-comment-content a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.nv-comment-content .edit-reply a, .comments-area a {
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}

//</editor-fold>
