
.has-neve-link-color-color {
	color: var(--nv-primary-accent) !important;;
}

.has-neve-link-color-background-color {
	background-color: var(--nv-primary-accent) !important;
}

.has-neve-link-hover-color-color {
	color: var(--nv-secondary-accent) !important;;
}

.has-neve-link-hover-color-background-color {
	background-color: var(--nv-secondary-accent) !important;
}

.has-neve-text-color-color {
	color: var(--nv-text-color) !important;
}

.has-neve-text-color-background-color {
	background-color: var(--nv-text-color) !important;
}

.has-nv-site-bg-color {
	color: var(--nv-site-bg) !important;
}

.has-nv-site-bg-background-color {
	background-color: var(--nv-site-bg) !important;
}

.has-nv-light-bg-color {
	color: var(--nv-light-bg) !important;
}

.has-nv-light-bg-background-color {
	background-color: var(--nv-light-bg) !important;
}

.has-nv-dark-bg-color {
	color: var(--nv-dark-bg) !important;
}

.has-nv-dark-bg-background-color {
	background-color: var(--nv-dark-bg) !important;
}

.has-nv-text-dark-bg-color {
	color: var(--nv-text-dark-bg) !important;
}

.has-nv-text-dark-bg-background-color {
	background-color: var(--nv-text-dark-bg) !important;
}

.has-nv-c-1-color {
	color: var(--nv-c-1) !important;
}

.has-nv-c-1-background-color {
	background-color: var(--nv-c-1) !important;
}

.has-nv-c-2-color {
	color: var(--nv-c-2) !important;
}

.has-nv-c-2-background-color {
	background-color: var(--nv-c-2) !important;
}
