//<editor-fold desc="Alignments">
.alignfull, .alignwide {
  width: unset;
  max-width: unset;
}

//</editor-fold>

//<editor-fold desc="Front End Font Sizes">
.has-neve-body-font-size {
  font-size: $h1-mobile-font-size;
}

.has-neve-h-1-font-size {
  font-size: $h2-mobile-font-size;
}

.has-neve-h-2-font-size {
  font-size: $h3-mobile-font-size;
}

.has-neve-h-3-font-size {
  font-size: $h4-mobile-font-size;
}

.has-neve-h-4-font-size {
  font-size: $h5-mobile-font-size;
}

.has-neve-h-5-font-size {
  font-size: $h6-mobile-font-size;
}

//</editor-fold>

//<editor-fold desc="Blockquote">
blockquote.wp-block-quote.is-style-large {
  p {
    font-size: $h2-font-size;
  }
  cite {
    text-align: center;
    font-size: .95em;
  }
}

//</editor-fold>

//<editor-fold desc="Tables">
.wp-block-table {
  width: 100%;
}
//</editor-fold>

@mixin gutenberg--tablet() {
  //<editor-fold desc="Tablet Font Sizes">
  .has-neve-body-font-size {
    font-size: $html-font-size;
  }
  .has-neve-h-1-font-size {
    font-size: $h1-font-size;
  }
  .has-neve-h-2-font-size {
    font-size: $h2-font-size;
  }
  .has-neve-h-3-font-size {
    font-size: $h3-font-size;
  }
  .has-neve-h-4-font-size {
    font-size: $h4-font-size;
  }
  .has-neve-h-5-font-size {
    font-size: $h5-font-size;
  }
  .has-neve-h-6-font-size {
    font-size: $h6-font-size;
  }
  //</editor-fold>
}

