@mixin horizontal-list( $margin ) {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  > li:not(:last-child) {
    padding-right: $margin;
  }
  > li:not(:first-child) {
    padding-left: $margin;
  }
}

@mixin caret() {
  content: " ";
  height: 6px;
  width: 6px;
  position: relative;
  display: inline-block;
  border: 2px solid;
  border-radius: 1px;
  border-left: 0;
  border-bottom: 0;
  left: 1px;
}

@mixin soft-box-shadow() {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@mixin button() {
  font-size: .8em;
  font-weight: 600;
  display: inline-block;
  padding: .625rem 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  width: auto;
}

@mixin button-secondary() {
  border: 1px solid $theme_color;
  background-color: transparent;
  font-weight: 600;
  color: $theme_color;
  &:hover {
    background-color: $theme_color;
    color: #fff;
  }
}
@mixin button-primary() {
  background-color: $theme_color;
  color: #fff;
}