.nv-search {
  display: block;
  width: 15px;
  //&:before {
  //  content: "";
  //  width:12px;
  //  height: 12px;
  //  border: 1.5px solid;
  //  display: block;
  //  border-radius: 50%;
  //  top: 4px;
  //  position: relative;
  //}
  //&:after {
  //  content: "";
  //  display: block;
  //  height: 5px;
  //  border: 1px solid;
  //  width: 0;
  //  border-radius: 5px;
  //  position: relative;
  //  left: 11px;
  //  bottom: -1px;
  //  transform: rotate(-45deg);
  //}
}
.nv-icon {
  fill: currentColor;
}

.cart-icon-wrapper {
  display: flex;
  align-items: flex-end;
}
