html {
  font-size: 16px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

//todo: Responsive font sizes before desktop.
body {
  font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  color: $body_color;
  font-size: $font-size-base;
  line-height: 1.68421;
  overflow-x: hidden;
  direction: ltr;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  line-height: 1.68421;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

p {
  margin-bottom: 1.26316em;
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_hover_color;
  }
}

.screen-reader-text {
  display: none;
}