$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$paragraph-margin-bottom: 1rem !default;

$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing: $spacing-sm * 2;
$spacing-lg: $spacing-sm * 3;

$theme_color: #1a9ac4;
$link_color: #1a9ac4;
$link_hover_color: #0366d6;
$navbar_background_color: #fff;

$transition_default: all .1s ease;
$transition_med: all .3s ease;
$transition_long: all .6s ease;

$muted-border: 1px solid #f0f0f0;

$tablet-sm: "576px";
$tablet: "768px";
$laptop: "992px";
$desktop : "1200px"

