<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:cover {"dimRatio":80,"overlayColor":"nv-dark-bg","minHeight":90,"minHeightUnit":"vh","contentPosition":"center center"} -->
	<div class="wp-block-cover" style="min-height:90vh"><span aria-hidden="true" class="wp-block-cover__background has-nv-dark-bg-background-color has-background-dim-80 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">Page not found...</p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph {"align":"center","placeholder":"Write title…","style":{"typography":{"fontSize":"120px"}}} -->
		<p class="has-text-align-center" style="font-size:120px">404</p>
		<!-- /wp:paragraph -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"nv-light-bg","textColor":"neve-text-color","align":"center","className":"is-style-primary"} -->
			<div class="wp-block-button aligncenter is-style-primary"><a class="wp-block-button__link has-neve-text-color-color has-nv-light-bg-background-color has-text-color has-background wp-element-button" href="/">Home</a></div>
			<!-- /wp:button --></div>
		<!-- /wp:buttons --></div></div>
	<!-- /wp:cover --></main>
<!-- /wp:group -->
