<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1170px"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":80,"overlayColor":"nv-dark-bg","align":"full"} -->
	<div class="wp-block-cover alignfull"><span aria-hidden="true" class="wp-block-cover__background has-nv-dark-bg-background-color has-background-dim-80 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained","contentSize":"1200px"}} -->
		<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center"} /-->

			<!-- wp:post-date {"textAlign":"center","textColor":"nv-text-dark-bg"} /--></div>
		<!-- /wp:group --></div></div>
	<!-- /wp:cover -->

	<!-- wp:spacer -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"className":".nv-post-content","layout":{"type":"constrained","contentSize":"800px"}} /-->

	<!-- wp:spacer -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"align":"full","backgroundColor":"nv-light-bg","textColor":"neve-text-color","layout":{"type":"constrained","contentSize":"800px"}} -->
	<div class="wp-block-group alignfull has-neve-text-color-color has-nv-light-bg-background-color has-text-color has-background"><!-- wp:spacer -->
		<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:comments -->
		<div class="wp-block-comments"><!-- wp:comments-title /-->

			<!-- wp:comment-template -->
			<!-- wp:columns -->
			<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
				<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
				<!-- /wp:column -->

				<!-- wp:column {"backgroundColor":"nv-light-bg"} -->
				<div class="wp-block-column has-nv-light-bg-background-color has-background"><!-- wp:comment-author-name {"fontSize":"small"} /-->

					<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
					<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

						<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
					<!-- /wp:group -->

					<!-- wp:comment-content /-->

					<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
				<!-- /wp:column --></div>
			<!-- /wp:columns -->

			<!-- wp:separator {"className":"is-style-default"} -->
			<hr class="wp-block-separator has-alpha-channel-opacity is-style-default"/>
			<!-- /wp:separator -->
			<!-- /wp:comment-template -->

			<!-- wp:comments-pagination -->
			<!-- wp:comments-pagination-previous /-->

			<!-- wp:comments-pagination-numbers /-->

			<!-- wp:comments-pagination-next /-->
			<!-- /wp:comments-pagination -->

			<!-- wp:post-comments-form /--></div>
		<!-- /wp:comments -->

		<!-- wp:spacer -->
		<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer --></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->
