.neve-color-component {

	.components-popover .components-popover__content {
		overflow: unset !important;
	}

	.components-custom-gradient-picker__gradient-bar {
		position: relative;
		border-radius: 24px;
		z-index: 1;

		&:not(.has-gradient) {
			opacity: 1;
		}
	}
}
