.nv-navbar {
  background-color: $navbar_background_color;
}

.primary-menu-ul {
  overflow-y: auto;
  transition: $transition_med;
  margin-bottom: 0;

  a {
    color: $body-color;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  li {
    cursor: pointer;
    width: 100%;
    display: block;
    position: relative;
  }

  .amp-caret-wrap {
    z-index: 1000;
    right: 0;
    position: absolute;
    top: 5px;
    svg {
      fill: currentColor;
      width: 1em
    }
  }

  .amp-desktop-caret-wrap {
    display: none;
  }
}

.site-logo, .navbar-toggle-wrapper {
  flex: 1 auto;
}

.navbar-toggle-wrapper {
  justify-content: flex-end;
  display: flex;
}

.primary-menu-ul {
  .sub-menu {
    max-height: 0;
    overflow: hidden;
    padding-left: 20px;
    transition: $transition_med;
    border-left: $muted-border;
  }

  .caret-wrap.dropdown-open + .sub-menu,
  .dropdown-open.sub-menu {
    max-height: 2000px;
    transition: $transition_med;
    opacity: 1;
    visibility: visible;
  }
}

.nv-nav-wrap {
  min-height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caret {
  padding: 5px;
  display: flex;
  align-items: center;

  svg {
    fill: currentColor;
  }

  .dropdown-open.caret-wrap > & svg {
    transform: rotate(-180deg);
  }
}

.caret-wrap {
  margin-left: auto;
}

ul[id^="nv-primary-navigation"] .current-menu-item > a {
  color: $link_hover_color;
}

#secondary-menu {
  .hfg-item-left &, .hfg-item-center & {
    li:not(:last-child) {
      margin-right: $spacing-sm;
    }
  }

  .hfg-item-right & {
    li:not(:first-child) {
      margin-left: $spacing-sm;
    }
  }
}

@mixin nav-menu--laptop() {
  .header--row .primary-menu-ul {
    .hfg-item-left &, .hfg-item-center & {
      li:not(:last-child) {
        margin-right: $spacing-sm;
      }
    }

    .hfg-item-right & {
      li:not(:first-child) {
        margin-left: $spacing-sm;
      }
    }
  }
  .row {
    .nv-nav-wrap {
      flex-direction: row;
      align-items: center;
      padding-bottom: 0;
    }

    .primary-menu-ul {
      .amp-caret-wrap {
        display: none;
      }

      .amp-desktop-caret-wrap {
        display: block;
      }
    }

    .primary-menu-ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      list-style-type: none;
      overflow-y: inherit;
      max-height: inherit;
      margin-left: auto;

      > li {
        width: inherit;
        padding: 10px 0;

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }

        li a {
          position: relative;
        }
      }

      li:hover, li:focus {
        > a {
          color: $link_hover_color;
          text-decoration: none;
        }
      }

      .sub-menu {
        @include soft-box-shadow();
        max-height: inherit;
        padding: 0;
        top: 100%;
        background: $navbar_background_color;
        border-left: none;
        border-top: $muted-border;
        position: absolute;
        overflow: visible;
        z-index: 100;
        opacity: 0;
        visibility: hidden;

        &.dropdown-open {
          opacity: 1;
          visibility: visible;
        }

        .sub-menu {
          left: 100%;
          right: auto;
          top: -1px;
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $navbar_background_color;
          border: $muted-border;
          border-top: none;
          min-width: 150px;
          cursor: default;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            width: 100%;
            padding: 7px 14px;
          }
        }
      }

      .menu-item-has-children {
        &:hover > .sub-menu,
        &:focus > .sub-menu,
        &:focus-within > .sub-menu {
          display: block;
          visibility: visible;
          opacity: 1;
        }

        > a {
          display: flex;
          align-items: center;
        }
      }

      > .menu-item-has-children > .sub-menu {
        right: 0;
      }

    }

    .caret-wrap {
      position: relative;
      font-size: .65em;
      padding-left: 0;
      margin-left: 5px;
    }

    .menu-item-has-children:last-child .caret {
      padding-right: 0;
    }
  }
}
