.site-logo {
  align-items: center;
  display: flex;
  padding: $spacing-xs 0;

  amp-img img {
    max-height: 60px;
  }
  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title-with-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    > img:first-child, > div:first-child {
      margin-right: 10px;
    }
  }
  h1, p {
    font-family: inherit;
    font-size: $h4-font-size;
    margin-bottom: 0;
    font-weight: 600;
  }

  small {
    width: 100%;
    display: block;
  }

  a {
    color: $body-color;
    display: inline;

    &:hover {
      color: $body-color;
      text-decoration: none;
      opacity: .9;
    }
  }
}
