.menu-item-nav-search {
  .search-form {
	input[type=submit] {
	  &:hover {
		background-color: transparent;
	  }
	}
  }

  &.minimal {
	.nv-nav-search {
	  right: auto;
	  left: 0;
	}
  }

  &.floating {
	.nv-nav-search {
	  position: fixed;
	  top: -100%;
	  left: 0;
	  display: flex;
	  flex-direction: row-reverse;
	  align-items: center;
	}

	.form-wrap {
	  flex-grow: 1;
	  margin-right: 20px;

	  form {
		width: 100%;
	  }
	}

	.close-container {
	  display: flex;
	}

	&.active {
	  .nv-nav-search {
		top: 0;
	  }
	}

	.search-form input[type=search] {
	  width: 100%;
	}
  }

  &.canvas .nv-nav-search {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;

	.close-container {
	  position: absolute;
	  top: $spacing-lg;
	  text-align: right;
	}

	.search-submit {
	  display: block;
	}

	.form-wrap {
	  position: absolute;
	}

	form {
	  position: relative;

	  input[type="search"] {
		width: 100%;
	  }
	}
  }

}

.menu-item-nav-search {
  cursor: pointer;
  outline: 0;
}

.menu-item-nav-search > a {
  display: block;
}

.nv-nav-search {
  pointer-events: none;
  opacity: 0;
  transition: $transition_med;
  position: absolute;
  right: 0;
  width: auto;
  background: #fff;
  padding: $spacing-xs $spacing-sm;
  border-top: $muted-border;
  cursor: default;
  z-index: 100;
  @include soft-box-shadow();

  .menu-item-nav-search.active & {
	pointer-events: initial;
	opacity: 1;
  }

  form {
	display: block;

	label {
	  display: inline;
	  margin: 0;

	  input {
		width: 200px;
		margin: 0;
	  }
	}
  }
}

a.button.close-responsive-search {
  @extend %nv-button;
  @extend %nv-button-secondary;
}

.nav-clickaway-overlay {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  @if ($debug == 'true') {
	background-color: rebeccapurple;
  }
  z-index: 90;
  height: 100vh;
}

ul[id^="nv-primary-navigation"] .menu-item-nav-search:not(.responsive-nav-search) {
  display: none;
}

@mixin nav-search--laptop() {
  .row ul[id^="nv-primary-navigation"] .menu-item-nav-search:not(.responsive-nav-search) {
	display: block;
  }

}
