@mixin nav-menu-centered--laptop() {

  .nv-nav-wrap.nav-center {
    flex-direction: column;
    justify-content: center;
  }

  .nav-center #nv-primary-navigation {
    margin: 0 auto;
    justify-content: center;
    > li {
      > a {
        padding-top: $spacing-xs;
      }
    }
  }

  .nav-center .site-logo {
    justify-content: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
