.menu-opened {
  overflow: hidden;
}

.nv-navbar {
  background-color: $navbar_background_color;
  border-bottom: $muted-border;
  max-height: 100vh;
}

#nv-primary-navigation {
  max-height: 0;
  overflow-y: auto;
  transition: $transition_med;
  margin-bottom: 0;
  &.responsive-opened {
    max-height: calc(100vh - 70px);
    padding-bottom: $spacing-sm;
  }
  a {
    width: 100%;
    display: block;
    padding: $spacing-xs 0;
  }
  li {
    cursor: pointer;
    width: 100%;
    position: relative;
  }
}

.site-logo, .navbar-toggle-wrapper {
  flex: 1;
}

.navbar-toggle-wrapper {
  justify-content: flex-end;
  display: flex;
}

#nv-primary-navigation {
  .sub-menu {
    max-height: 0;
    overflow: hidden;
    padding-left: 20px;
    transition: $transition_med;
    border-left: $muted-border;
  }

  .dropdown-open > .sub-menu {
    max-height: 2000px;
    transition: $transition_med;
    opacity: 1;
    visibility: visible;
  }
}

.nv-nav-wrap {
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caret {
  @include caret();
  transform: rotate(135deg);
  color: $link_color;
  top: -6px;
  transition: $transition_med;
  .dropdown-open > .caret-wrap > & {
    color: #fff;
    transform: rotate(-45deg);
  }
}

.caret-wrap {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $link_color;
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  transition: $transition_med;
  .dropdown-open > & {
    background-color: $link_color;
  }
}

@mixin nav-menu--laptop() {
  .menu-opened {
    overflow: inherit;
  }

  .nv-nav-wrap {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }

  #nv-primary-navigation {
    @include horizontal-list($spacing-sm);
    overflow-y: inherit;
    max-height: inherit;
    margin-left: auto;
    justify-content: flex-end;
    &.responsive-opened {
      padding-bottom: 0;
    }
    > li {
      width: inherit;
      &.menu-item-has-children:last-child {
        padding-right: $spacing-sm;
      }
      > a {
        padding: $spacing-sm 0;
        display: block;
      }
      &.menu-item-has-children > a {
        padding-right: 12px;
      }
      > .caret-wrap {
        top: 14px;
        position: absolute;
      }
    }

    li:hover {
      > a {
        color: $link_hover_color;
      }
      > .caret-wrap .caret {
        color: $link_hover_color;
      }
    }

    .sub-menu {
      @include soft-box-shadow();
      max-height: inherit;
      padding: 0;
      top: 100%;
      background: $navbar_background_color;
      border-left: none;
      border-top: 3px solid $theme_color;
      position: absolute;
      overflow: visible;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      .sub-menu {
        left: 100%;
        right: auto;
        top: -3px;
      }
      li {
        display: flex;
        align-items: center;
        background-color: $navbar_background_color;
        border: $muted-border;
        border-top: none;
        min-width: 150px;
        a {
          white-space: nowrap;
          display: block;
          width: 100%;
          margin-right: $spacing-xs;
          padding: $spacing-xs $spacing-sm;
        }
      }
    }

    .menu-item-has-children {
      &:hover > .sub-menu {
        display: block;
        visibility: visible;
        opacity: 1;

      }
    }

    > .menu-item-has-children > .sub-menu {
      right: 0;
    }

  }
  .caret-wrap {
    border: none;
    position: relative;
    top: 0;
    display: inline;
    padding-right: 0;
    .dropdown-open > & > .caret {
      color: $link_color;
      transform: rotate(135deg);
    }
    .dropdown-open > & {
      background: transparent;
    }
  }

  .sub-menu {
    .caret-wrap {
      padding-right: 25px;
    }
  }
}