.neve-white-background-control {
  padding: 10px 15px;
  margin: 0 -15px;
  background: #fff;

  .customize-control-neve_color_control & {
	padding-bottom: 10px;
  }

  .components-toggle-control{
	margin-bottom: 0;
  }

  .components-form-toggle{
	min-width: auto;
  }
}

//
//.customize-control-neve_responsive_range_control, .customize-control-neve_range_control, .customize-control-neve_toggle_control {
//  margin-bottom: -1px !important;
//  background-color: #fff;
//  padding: 12px 15px;
//  margin-left: -15px;
//  position: relative;
//}
