.control-section.neve-documentation {
  display: block !important;
  margin-bottom: 0;
  margin-top: -1px;
  .documentation-inner {
	display: flex;
  }
  .neve-customizer-heading {
	padding: 7px 10px 7px 14px;
	display: flex;
	flex-grow: 1;
	margin: auto;
	letter-spacing: initial;
	font-size: 14px;
	font-weight: 600;

	&:hover, &:focus-within {
	  cursor: default;
	}

	.components-button {
	  margin-left: auto;
	}
  }
}
