$gray: #bfbfbf;
$icon: #0073aa;

.neve-sortable-item {
	z-index: 99999999999;
	border: 1px solid $gray;

	.top-bar {
		display: flex;
		align-items: center;
		background: #fff;
		height: 40px;

		button {
			border: none;
			background: transparent;
			display: flex;
			align-items: center;
			cursor: pointer;
			justify-content: center !important;
			height: 100%;

			&[disabled] {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

	&.no-toggle {
		padding-left: 20px;
	}

	&.disabled {
		.toggle {
			color: $gray;
		}
	}

	&:not(:first-child) {
		margin-top: -1px;
	}

	.label {
		font-weight: 600;
		font-size: 13px;
		margin: 0 5px;
	}

	.actions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 100%;
		margin-left: auto;

		button:hover {
			background-color: $icon;
			color: #fff;
			border-color: currentColor;
		}

		button {
			border-left: 1px solid #ccc !important;
			color: #bfbfbf;
			width: 40px;
		}

		button[disabled] {
			grid-column: 2;
		}
	}

	.toggle {
		padding: 0 10px;
		color: $icon;
		border-right: 1px solid #ccc !important;
	}

	.handle {
		grid-column: 2;
	}
}

.sortable-subcontrols {
	padding: 10px;
	display: grid;
	gap: 15px;

	.neve-white-background-control {
		margin: 0 !important;
		padding: 0 !important;
		background: transparent !important;
	}

	&.open {
		border-top: 1px solid #ccc;
	}

	.subcontrol-label, .components-toggle-control__label {
		display: block;
		font-weight: 600;
	}

	.subcontrol-label {
		margin-bottom: 5px;
	}

	.customize-control-title {
		font-size: 13px !important;
	}

	.subcontrol-description {
		display: block;
		line-height: 1.4;
		font-size: 12px;
		margin-bottom: 5px;
		color: #777;
	}

	> div:not(:last-child) {
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
	}

	> div:last-child {
		padding-bottom: 5px;
	}
}
