@import "./../../../dashboard/src/scss/vars";

.control-section.neve-upsell {
	.neve-customizer-heading {
	  color: $blue;
	  max-width: 313px;
	  padding-left: 25px;
	  position: relative;

	  .components-button {
		position: absolute;
		right: 10px;
	  }
	}
}
