.nv-edd #nv-single-download-container {

	margin: 60px auto;

	.nv-edd-content {

		margin-bottom: 80px;

		.edd_purchase_submit_wrapper .edd-cart-added-alert {
			margin-top: 10px;
			position: relative;
		}

	}

}
