.single-download #nv-single-download-container {

	margin: 60px auto;

	.nv-edd-single-download-title h1,
	.nv-edd-single-download-meta {
		font-weight: var(--fontWeight, "inherit");
		letter-spacing: var(--letterSpacing, var(--h1LetterSpacing, 0));
		line-height: var(--lineHeight, var(--h1LineHeight, 1.1));
		text-transform: var(--textTransform, "inherit");
	}

	.nv-edd-single-download-title h1 {
		font-size: var(--fontSize, var(--h1FontSize, "40px"));
	}

	.nv-edd-single-download-meta {
		font-size: var(--fontSize, var(--bodyFontSize, "16px"));
	}

	.nv-edd-content {

		margin-bottom: 80px;

		.edd_download_purchase_form {
			text-align: var(--edd-buy-btn-align, left);
		}

		.edd_purchase_submit_wrapper .edd-cart-added-alert {
			margin-top: 10px;
			position: relative;
			text-align: var(--edd-buy-btn-align, left);
		}

	}

	.nv-edd-single-download-tags {
		font-size: var(--fontSize, "20px");
		font-weight: var(--fontWeight, 700);
	}

}
