.single-download .single-download-container {

	margin: 60px auto;

	.nv-edd-content {
		margin-bottom: 80px;

		.nv-edd-buy-btn {
			background: var(--primaryBtnBg, #2f5aae);
			border: none;
			color: var(--nv-text-dark-bg, #fff);
			padding: 20px 50px;
		}

		.edd_purchase_submit_wrapper .edd-cart-added-alert {
			margin-top: 10px;
		}

	}

	.nv-edd-single-download-tags {
		font-size: 20px;
		font-weight: 700;
	}

}
