//TODO-UV This only applies on single download sidebar..should be universal?
.nv-sidebar-wrap {

	.edd-cart-number-of-items {
		font-style: normal;
	}

	.edd_total {
		background: none;
		font-size: 20px;
		padding: 20px 0;
	}

	.edd_checkout {

		width: 100%;

		a {
			background: var(--primaryBtnBg, #2f5aae);
			border-radius: 3px;
			border: none;
			color: var(--nv-text-dark-bg, #fff);
			display: block;
			font-weight: 400;
			text-align: center;
			padding: 15px;
			width: 60%;

		}

	}

	.widget_edd_product_details {

		h3 span {
			font-size: 20px;
		}

		.edd_price_options {
			margin-top: -20px;
		}

		.nv-edd-buy-btn {
			background: var(--primaryBtnBg, #2f5aae);
			border-radius: 3px;
			border: none;
			color: var(--nv-text-dark-bg, #fff);
			display: block;
			font-weight: 400;
			padding: 15px;
			width: 60%;
		}

		.edd_purchase_submit_wrapper .edd-cart-added-alert {
			margin-top: 10px;
			position: relative;
		}

		.categories,
		.tags {
			font-size: 14px;
			margin-bottom: 10px;
		}

	}

}
