.card.module-card {
  padding: 0;

  .card-header {
	border-bottom: 1px solid $grey;

	.title {
	  margin: 0;
	}

	padding: 20px;

	.toggle-wrap {
	  margin-left: auto;

	  div {
		margin-bottom: 0;
		span {
		  margin-right: 0;
		}
	  }
	}
  }
  .card-content {
	padding: 20px;
	.card-description {
	  margin: 0;
	  a {
		text-decoration: none;
		font-weight: 700;
	  }
	}
  }
  .module-options {
	margin: 0 -21px -21px;
	.accordion {
	  margin: -1px 0 0;
	  &:first-child {
		margin-top: 20px;
	  }

	  .accordion-header {
		padding: 15px 20px;
		font-size: 15px;
		font-weight: 600;
		color: $blue;
		svg {
		  color: $blue;
		}
	  }
	}
  }
}
