name: Translations Diff

on:
  pull_request_review:
  pull_request:
    types: [opened, edited, synchronize, ready_for_review]
    branches:
      - development
      - master

jobs:
  translation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ref Base
        uses: actions/checkout@v4
        with:
          path: neve-head
      - name: Setup node 16
        uses: actions/setup-node@v4
        with:
          node-version: 16.x
      - name: FRESH Makepot BASE
        run: |
          cd neve-head
          ls languages/
          composer install --no-dev --prefer-dist --no-progress --no-suggest
          yarn install --frozen-lockfile
          yarn run build
          ls languages/
      - name: Checkout Ref Head
        uses: actions/checkout@v2
        with:
          ref: development
          path: neve-base
      - name: FRESH Makepot HEAD
        run: |
          cd neve-base
          ls languages/
          composer install --no-dev --prefer-dist --no-progress --no-suggest
          yarn install --frozen-lockfile
          yarn run build
          ls languages/
           - name: Compare POT files
      - name: Compare POT files
        uses: Codeinwp/action-i18n-string-reviewer@main
        with:
          fail-on-changes: 'true'
          base-pot-file: 'neve-base/languages/neve.pot'
          target-pot-file: 'neve-head/languages/neve.pot'
          github-token: ${{ secrets.BOT_TOKEN }}
